<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<title>ABC在线英语</title>
    <link rel="stylesheet" type="text/css" href="../../Content/master.css" />
    <link rel="stylesheet" type="text/css" href="../../Content/banner.css" />
</head>

<body>
<!--top begin-->
<div class="top">
    <div class="w1000">
        <!--left begin-->
        <div class="left flt">
            <ul>
                <li class="left-01"><a href="javascript:;">移动版ABC</a></li>
                <li class="left-02"><a href="javascript:;">ABC微信</a></li>
                <li class="left-03"><a href="javascript:;">切换至少儿版</a></li>
                <li class="left-04">400-661-9888</li>
            </ul>
        </div>
        <!--left end-->
        <!--right begin-->
        <div class="right frt">
            <ul>
                <li class="right-01"><a href="javascript:;">请登录</a></li>
                <li class="right-02"><a href="javascript:;">立即注册</a></li>
            </ul>
        </div>
        <!--right end-->
    </div>
</div>
<!--top end-->
<!--header begin-->
<div class="header">
    <div class="w1000">
        <!--logo begin-->
        <div class="logo flt"><a href="/"><img src="img/logo.jpg" width="272" height="98"/></a></div>
        <!--logo end-->
        <!--nav begin-->
        <div class="nav flt">
        	<ul>
	            <li><a href="index.html">首页</a></li>
                <li class="nav-active"><a href="open.html">免费公开课</a></li>
                <li><a href="feature.html">课程特色</a></li>
                <li><a href="team.html">外教团队</a></li>
                <li><a href="free.html">免费答疑</a></li>
                <li><a href="flow.html">上课流程</a></li>
                <li><a href="voice.html">学员心声</a></li>
            </ul>
            <div class="hover"></div>
        </div>
        <!--nav end-->
    </div>
</div>
<!--header end-->
<!--banner begin-->
<div class="ban ban_open"></div>
<!--banner end-->
<!--contain begin-->
<div class="contain w1000">
    <!--menubar begin-->
    <div class="menubar">
       <ul>
       <li><a href="index.html">首页</a></li>
       <li>></li>
        <li><a href="/">免费公开课</a></li>
       </ul>
    </div>
    <!--menubar end-->
    <!--open_contain begin-->
    <div class="open_contain">
        <div class="open_left">
            <div class="top_title">
                <ul>
                    <li class="li_b">热门课程</li>
                    <li>视频课程</li>
                    <li>课程分类<span class="san"><img src="img/san.png"></span></li>
                </ul>
            </div>
            <div class="course">
                <div class="cur_l">
                    <img src="img/im1.png"><span>未开始</span>
                </div>
                <div class="cur_r">
                    <h4>From Head to Toe</h4>
                    <p>今天星期五啊明天不上班，早读课啊也是最后一天~<br />前面唱歌、美剧你们都看得好爽吧？明天就是周六了觉得更爽吧？<br />哈哈，但是，小5怎么可以看着大家就此“堕落”呢！<br />从这周起，我们就在周五这天就给大家来点干货的！<br />听力&阅读轮番来，让Ivy和Nico带你飞！</p>
                    <div class="course_btn">
                        <div class="c_btn_left">
                            <span>Ivy</span>
                            <span>2015/09/11&nbsp;&nbsp;&nbsp;&nbsp;10:00</span>
                        </div>
                        <div class="c_btn_rig">
                            <span>已有<font color="red">299</font>人参加</span>
                            <button>我要占座</button>
                        </div>                            
                    </div>

                </div>
                <span class="ri ri_m1"></span>
            </div>
            <div class="course bg_gray">
                <div class="cur_l">
                    <img src="img/im1.png"><span class="tag1">已结束</span>
                </div>
                <div class="cur_r">
                    <h4>From Head to Toe</h4>
                    <p>今天星期五啊明天不上班，早读课啊也是最后一天~<br />前面唱歌、美剧你们都看得好爽吧？明天就是周六了觉得更爽吧？<br />哈哈，但是，小5怎么可以看着大家就此“堕落”呢！<br />从这周起，我们就在周五这天就给大家来点干货的！<br />听力&阅读轮番来，让Ivy和Nico带你飞！</p>
                    <div class="course_btn">
                        <div class="c_btn_left">
                            <span>Ivy</span>
                            <span>2015/09/11&nbsp;&nbsp;&nbsp;&nbsp;10:00</span>
                        </div>
                        <div class="c_btn_rig">
                            <span>已有<font color="red">299</font>人参加</span>
                            <button>我要占座</button>
                        </div>                            
                    </div>

                </div>
                <span class="ri ri_m2"></span>
            </div>
            <div class="course">
                <div class="cur_l">
                    <img src="img/im1.png"><span>未开始</span>
                </div>
                <div class="cur_r">
                    <h4>From Head to Toe</h4>
                    <p>今天星期五啊明天不上班，早读课啊也是最后一天~<br />前面唱歌、美剧你们都看得好爽吧？明天就是周六了觉得更爽吧？<br />哈哈，但是，小5怎么可以看着大家就此“堕落”呢！<br />从这周起，我们就在周五这天就给大家来点干货的！<br />听力&阅读轮番来，让Ivy和Nico带你飞！</p>
                    <div class="course_btn">
                        <div class="c_btn_left">
                            <span>Ivy</span>
                            <span>2015/09/11&nbsp;&nbsp;&nbsp;&nbsp;10:00</span>
                        </div>
                        <div class="c_btn_rig">
                            <span>已有<font color="red">299</font>人参加</span>
                            <button>我要占座</button>
                        </div>                            
                    </div>

                </div>
                <span class="ri ri_m3"></span>
            </div>
            <div class="course bg_gray">
                <div class="cur_l">
                    <img src="img/im1.png"><span class="tag1">已结束</span>
                </div>
                <div class="cur_r">
                    <h4>From Head to Toe</h4>
                    <p>今天星期五啊明天不上班，早读课啊也是最后一天~<br />前面唱歌、美剧你们都看得好爽吧？明天就是周六了觉得更爽吧？<br />哈哈，但是，小5怎么可以看着大家就此“堕落”呢！<br />从这周起，我们就在周五这天就给大家来点干货的！<br />听力&阅读轮番来，让Ivy和Nico带你飞！</p>
                    <div class="course_btn">
                        <div class="c_btn_left">
                            <span>Ivy</span>
                            <span>2015/09/11&nbsp;&nbsp;&nbsp;&nbsp;10:00</span>
                        </div>
                        <div class="c_btn_rig">
                            <span>已有<font color="red">299</font>人参加</span>
                            <button>我要占座</button>
                        </div>                            
                    </div>

                </div>
                <span class="ri ri_m2"></span>
            </div>
            <div class="page">
                <a href="" class="page_for"><</a><a href="" >1</a><a href="" >2</a><a href="" >3</a><a href="" >4</a><a href="" >5</a><a href="" class="page_for" >></a>
            </div>
        </div>
        <div class="open_right">
            <div class="open_r_title">学习头条</div>
            <div class="open_r_con">
                <ul>
                    <li><span class="span_g">1</span><a href="#">【51talk视频大奖赛】-04Arie作品-送给亲爱的小5</a></li>
                    <li><span class="span_g">2</span><a href="#">【51talk视频大奖赛】-04Arie作品-送给亲爱的小5</a></li>
                    <li><span class="span_g">3</span><a href="#">【51talk视频大奖赛】-04Arie作品-送给亲爱的小5</a></li>
                    <li><span>4</span><a href="#">【51talk视频大奖赛】-04Arie作品-送给亲爱的小5</a></li>
                    <li><span>5</span><a href="#">【51talk视频大奖赛】-04Arie作品-送给亲爱的小5</a></li>
                    <li><span>6</span><a href="#">【51talk视频大奖赛】-04Arie作品-送给亲爱的小5</a></li>
                    <li><span>7</span><a href="#">【51talk视频大奖赛】-04Arie作品-送给亲爱的小5</a></li>
                    <li><span>8</span><a href="#">【51talk视频大奖赛】-04Arie作品-送给亲爱的小5</a></li>
                    <li><span>9</span><a href="#">【51talk视频大奖赛】-04Arie作品-送给亲爱的小5</a></li>
                    <li><span>10</span><a href="#">【51talk视频大奖赛】-04Arie作品-送给亲爱的小5</a></li>
                </ul>
            </div>
        </div>
        <div style="font:0px/0px sans-serif; clear:both; display:block"></div>
    </div>
    <!--open_contain end-->
</div>
<!--contain end-->
<!--footer begin-->
<div class="footer">
    <div class="w1000">
        <!--footer-list begin-->
        <div class="footer-list" style="margin:0 0 0 20px;">
            <h3>ABC的优势</h3>
            <ul>
                <li><a href="#">纯正英美外教</a></li>
                <li><a href="#">一对一VIP</a></li>
                <li><a href="#">课程内容广泛</a></li>
                <li><a href="#">专属学习顾问</a></li>
            </ul>
        </div>
        <!--footer-list end-->
        <!--footer-list begin-->
        <div class="footer-list">
            <h3>ABC的实力</h3>
            <ul>
                <li><a href="#">二十几年线下教学经验</a></li>
                <li><a href="#">全国三十几家连锁学校</a></li>
                <li><a href="#">上千名优秀中外教师资</a></li>
                <li><a href="#">数十万优秀毕业生</a></li>
            </ul>
        </div>
        <!--footer-list end-->
        <!--footer-list begin-->
        <div class="footer-list">
            <h3>ABC的团队</h3>
            <ul>
                <li><a href="#">中教团队</a></li>
                <li><a href="#">外教团队</a></li>
                <li><a href="#">课程顾问团队</a></li>
                <li><a href="#">学习顾问团队</a></li>
            </ul>
        </div>
        <!--footer-list end-->
         <!--footer-list begin-->
        <div class="footer-list">
            <h3>帮助中心</h3>
            <ul>
                <li><a href="#">400客服电话</a></li>
                <li><a href="#">在线客服</a></li>
            </ul>
        </div>
        <!--footer-list end-->
    </div>
</div>
<!--footer end-->
<!--cr begin-->
<div class="cr">
    <p>COPYRIGHT © 2014-9-1 ABC.COM.CN, ALL RIGHTS RESERVED</p>
    <p>京ICP备12029524号-1 京ICP证130137号 京公网安备11010802012731号</p>
</div>
<!--cr end-->
<!--register begin-->
<div class="register">
    <div class="w1000">
        <div class="tips flt"><span>现在注册</span>  立即获取北美外教一对一免费体验课！</div>
        <div class="opts frt">
            <ul>
                <li class="opt-one"><a href="javascript:;">登陆</a></li>
                <li class="opt-two"><a href="javascript:;">立即注册</a></li>
            </ul>
        </div>
    </div>
    <div class="close"></div>
</div>
<!--register end-->
<!--back begin-->
<a href="#my-top" class="back"></a>
<!--back end-->
</body>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<script type="text/javascript" src="js/nav.js"></script>
<script type="text/javascript" src="js/lrtk.js"></script>
</html>
