<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ChangePassword</title>
    <link href="~/assets/css/common.css" rel="stylesheet" />
    <link href="~/assets/css/teacher.css" rel="stylesheet" />
</head>
<body>
    <div class="banner_one"></div>
    @Html.Partial("TeacherNav", 0)

    <!--修改密码-->
    <div class="section">
        <div class="ad">
            <div class="container ">
                <div class="page-title">
                    <h1>Password Reset</h1>
                    <div class="divider"></div>
                </div>
                <div class="safe member-page-content">
                    <div class="single-body">
                        <div class="form-group" style="height: 50px; margin-top: 36px">
                            <label class="label" style="float: left; width:150px;">Old Password：</label>
                            <input type="password" name="pwd" class="input flt" style=" width: 300px;" @*placeholder="Please enter the old password"*@ />
                        </div>

                        <div class="form-group" style="height: 60px;">
                            <label class="label" style="float: left; width: 150px;"><span id="name">New Password：</span></label>
                            <input type="password" name="newpwd" class="input flt" style=" width: 300px;" @*placeholder="Please enter a new password"*@ />
                            <div class="descibe flt" style="font-size: 12px; padding-left: 166px; margin-right: -200px;">Password must be based on numbers, letters or characters, and not less than six</div>
                        </div>
                        <div class="form-group" style="height: 50px;">
                            <label class="label" style="float: left; width: 150px;">confirm password：</label>
                            <input type="password" name="confirmpwd" class="input flt" style=" width: 300px;" @*placeholder="Enter the new password again"*@ />
                            <div class="descibe flt" style="font-size: 12px; padding-left: 166px; margin-right: -200px;">Confirm Password with the new password must be the same</div>
                        </div>
                        <div class="form-group" style="height: 50px;">
                            <button method="updatePassword" class="btn middle" style="margin-left: 170px; margin-top: 7px; ">save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="~/js/jquery-1.8.3.min.js"></script>
    <script src="~/js/base.js"></script>
    <script src="~/js/jquery.cookie.js"></script>
    <script src="~/js/common.js"></script>
    <script src="~/js/teachermember.js"></script>
    <script>
        $(function () {
            if (window.top && window.top.updateContentFrameHeight) {
                window.top.updateContentFrameHeight(document.body.scrollHeight);
            }
            member.safeReady();
        });
    </script>
</body>
</html>
