<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<title>ABC在线英语</title>
<link rel="stylesheet" type="text/css" href="style/master.css">
<link rel="stylesheet" type="text/css" href="style/banner.css"/>
</head>

<body>
<!--top begin-->
<div class="top">
    <div class="w1000">
        <!--left begin-->
        <div class="left flt">
            <ul>
                <li class="left-01"><a href="javascript:;">移动版ABC</a></li>
                <li class="left-02"><a href="javascript:;">ABC微信</a></li>
                <li class="left-03"><a href="javascript:;">切换至少儿版</a></li>
                <li class="left-04">400-661-9888</li>
            </ul>
        </div>
        <!--left end-->
        <!--right begin-->
        <div class="right frt">
            <ul>
                <li class="right-01"><a href="javascript:;">请登录</a></li>
                <li class="right-02"><a href="javascript:;">立即注册</a></li>
            </ul>
        </div>
        <!--right end-->
    </div>
</div>
<!--top end-->
<!--header begin-->
<div class="header">
    <div class="w1000">
        <!--logo begin-->
        <div class="logo flt"><a href="/"><img src="img/logo.jpg" width="272" height="98"/></a></div>
        <!--logo end-->
        <!--nav begin-->
        <div class="nav flt">
        	<ul>
	            <li><a href="index.html">首页</a></li>
                <li><a href="open.html">免费公开课</a></li>
                <li><a href="feature.html">课程特色</a></li>
                <li><a href="team.html">外教团队</a></li>
                <li><a href="free.html">免费答疑</a></li>
                <li class="nav-active"><a href="flow.html">上课流程</a></li>
                <li><a href="voice.html">学员心声</a></li>
            </ul>
            <div class="hover"></div>
        </div>
        <!--nav end-->
    </div>
</div>
<!--header end-->
<!--banner begin-->
<div class="ban ban_flow"></div>
<!--banner end-->
<!--contain begin-->
<div class="contain w1000">
    <!--flow_img begin-->
    <div class="flow_img">
        <div><img src="img/flow1.png" alt="" /></div>
        <div><img src="img/flow2.png" alt="" /></div>
        <div><img src="img/flow3.png" alt="" /></div>
    </div>
    <!--flow_img end-->
</div>
<!--contain end-->
<!--footer begin-->
<div class="footer">
    <div class="w1000">
        <!--footer-list begin-->
        <div class="footer-list" style="margin:0 0 0 20px;">
            <h3>ABC的优势</h3>
            <ul>
                <li><a href="#">纯正英美外教</a></li>
                <li><a href="#">一对一VIP</a></li>
                <li><a href="#">课程内容广泛</a></li>
                <li><a href="#">专属学习顾问</a></li>
            </ul>
        </div>
        <!--footer-list end-->
        <!--footer-list begin-->
        <div class="footer-list">
            <h3>ABC的实力</h3>
            <ul>
                <li><a href="#">二十几年线下教学经验</a></li>
                <li><a href="#">全国三十几家连锁学校</a></li>
                <li><a href="#">上千名优秀中外教师资</a></li>
                <li><a href="#">数十万优秀毕业生</a></li>
            </ul>
        </div>
        <!--footer-list end-->
        <!--footer-list begin-->
        <div class="footer-list">
            <h3>ABC的团队</h3>
            <ul>
                <li><a href="#">中教团队</a></li>
                <li><a href="#">外教团队</a></li>
                <li><a href="#">课程顾问团队</a></li>
                <li><a href="#">学习顾问团队</a></li>
            </ul>
        </div>
        <!--footer-list end-->
         <!--footer-list begin-->
        <div class="footer-list">
            <h3>帮助中心</h3>
            <ul>
                <li><a href="#">400客服电话</a></li>
                <li><a href="#">在线客服</a></li>
            </ul>
        </div>
        <!--footer-list end-->
    </div>
</div>
<!--footer end-->
<!--cr begin-->
<div class="cr">
    <p>COPYRIGHT © 2014-9-1 ABC.COM.CN, ALL RIGHTS RESERVED</p>
    <p>京ICP备12029524号-1 京ICP证130137号 京公网安备11010802012731号</p>
</div>
<!--cr end-->
<!--register begin-->
<div class="register">
    <div class="w1000">
        <div class="tips flt"><span>现在注册</span>  立即获取北美外教一对一免费体验课！</div>
        <div class="opts frt">
            <ul>
                <li class="opt-one"><a href="javascript:;">登陆</a></li>
                <li class="opt-two"><a href="javascript:;">立即注册</a></li>
            </ul>
        </div>
    </div>
    <div class="close"></div>
</div>
<!--register end-->
<!--back begin-->
<a href="#my-top" class="back"></a>
<!--back end-->
</body>
<script type="text/javascript" src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/index.js"></script>
<script type="text/javascript" src="js/nav.js"></script>
<script type="text/javascript" src="js/lrtk.js"></script>
</html>
