<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ABC在线英语</title>
    <link href="~/Content/abroad/abroad.css" rel="stylesheet" />
</head>
<body>
    <div class="banner"></div>
    @Html.Partial("AdultNav", 0)

    <div class="section">
        <div class="container advantage-container">
            <h1 class="title">我们优势及特色</h1>
            <h2 class="sub-text">CURRICULUM ADVANTAGE</h2>
            <div class="divider"></div>
            <div class="advantage">
                <div class="item">
                    <img src="~/Content/abroad/a1.png" />
                    <p>出国前先学习<br />当地课程</p>
                </div>
                <div class="item">
                    <img src="~/Content/abroad/a2.png" />
                    <p>哥院老师亲自<br />授课</p>
                </div>
                <div class="item">
                    <img src="~/Content/abroad/a3.png" />
                    <p>逐渐适应语言<br />环境</p>
                </div>
                <div class="item">
                    <img src="~/Content/abroad/a4.png" />
                    <p>学习留学<br />一条龙服务</p>
                </div>
                <div class="item">
                    <img src="~/Content/abroad/a5.png" />
                    <p>名牌大学轻松<br />衔接</p>
                </div>
            </div>
        </div>
    </div>
    <div class="banner2">
        <div class="container">
            <h1 class="title">全面照顾计划让小留学生得到全方位呵护</h1>
            <h2 class="sub-text">咨询电话：400-611-98888</h2>
            <p>了解更多留学详情请拨打咨询电话</p>
        </div>
    </div>
    <div class="section service-section">
        <div class="container">
            <div class="divider"></div>
            <h1 class="title">为学生提供更好的国际<br />在线英语教学服务</h1>
            <h2 class="sub-text">优秀学更有机会获得<br />价值30000元的哥伦比亚国际学校<br />全额留学免中介服务</h2>
            <img class="service-img" src="~/Content/abroad/service.png" />
        </div>
    </div>
    <div class="section">
        <div class="container">
            <img src="~/Content/abroad/Anytime-you-want-to-learn.png" />
        </div>
    </div>
    <script src="~/Scripts/jquery-2.2.4.min.js"></script>
    <script src="~/Scripts/abc/base.es5.min.js"></script>
    <script src="~/Scripts/abc/common.es5.min.js"></script>
    <script src="~/Scripts/abc/abroad.es5.min.js"></script>
</body>
</html>
