<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ABC在线英语</title>
    <link href="~/Content/train/train.css" rel="stylesheet" />
</head>
<body>
    <div class="banner"></div>
    @Html.Partial("AdultNav", 0)

    <div class="section">
        <div class="container">
            <h1 class="title">我们的优势及特色</h1>
            <h2 class="sub-text" style="text-transform: uppercase;">CURRICULUM ADVANTAGE</h2>
            <div class="divider"></div>
            <div class="advantage">
                <div class="item">
                    <div class="a-image">
                        <img src="~/Content/train/a1.png" />
                        <div class="hover">
                            <img src="~/Content/train/a1on.png" />
                        </div>
                    </div>
                    <div class="a-des">
                        <h5>20年企培经验护航</h5>
                        <p>
                            拥有课程顾问、教师、方案制造
                            <br />
                            教材研发、售后服务
                            <br />
                            以及教学管理等专业团队
                            <br />
                            20年的企培经验
                            <br />
                            为企业培训保驾护航
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="a-image">
                        <img src="~/Content/train/a2.png" />
                        <div class="hover">
                            <img src="~/Content/train/a2on.png" />
                        </div>
                    </div>
                    <div class="a-des">
                        <h5>量身打造培训课程</h5>
                        <p>
                            根据客户的要求
                            <br />
                            为企业员工量身定制
                            <br />
                            培训课程
                            <br />
                            满足企业的培训要求
                            <br />
                            保证培训效果
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="a-image">
                        <img class="default" src="~/Content/train/a3.png" />
                        <div class="hover">
                            <img src="~/Content/train/a3on.png" />
                        </div>
                    </div>
                    <div class="a-des">
                        <h5>专业背景培训讲师</h5>
                        <p>
                            TESOL、TEFL
                            <br />
                            国际认证讲师
                            <br />
                            具有丰富的商务及教学经验
                            <br />
                            帮助学员尽快掌握专业
                            <br />
                            地道的商务表达
                        </p>
                    </div>
                </div>
                <div class="item">
                    <div class="a-image">
                        <img src="~/Content/train/a4.png" />
                        <div class="hover">
                            <img src="~/Content/train/a4on.png" />
                        </div>
                    </div>
                    <div class="a-des">
                        <h5>全方位的售后服务</h5>
                        <p>
                            全方位监控培训
                            <br />
                            严格把握每一个细节
                            <br />
                            帮助培训负责人
                            <br />
                            了解到培训过程中的每一步
                            <br />
                            做到对培训的全面控制
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="banner-2">
        <div>ABC为企业创造<b>最大人力资本价值</b></div>
    </div>
    <div class="section">
        <div class="container">
            <h1 class="title">专业外教精彩课堂</h1>
            <h2 class="sub-text">学英语、找学校、老师最重要</h2>
            <div class="divider"></div>
            <div class="course">
                <div class="each-course">
                    <div class="course-img c1">
                        <div class="course-mask">
                            <div class="mask"></div>
                            <i class="play"></i>
                        </div>
                    </div>
                    <div class="course-feature">
                        <i class="caret"></i>
                        <i class="heart"></i>
                        <h5>首都机场集团（VIP一对一培训）</h5>
                        <div class="course-intro">
                            <p>
                                由于之前工作中用到英语工作的机会不是很多，英语水平较基础，所以开始培训时不敢张嘴去用英语表达。是Alex外教老师的耐心和鼓励，让我在课上积极参与，并及时地纠正我的错误发音和语调，尽可能多说地道英语，课堂气氛活跃。此外，除了讲解书本上的内容，老师还为我量身定制机场建设及管理方面的材料。最大限度的贴合我工作中的英语需求。老师对课程的重点和主旨有很好的把握，授课内容很有系统性、连贯性。

                                由于集团工作的调整，我现在有很多机会去和外籍同事及合作伙伴进行交流。感谢ABC英语给了我信心，使我能顺畅的使用英语，大大提高了我的商务办公效率。
                            </p>
                            <a class="btn">立即体验</a>
                        </div>
                    </div>
                </div>
                <div class="each-course">
                    <div class="course-img c2">
                        <div class="course-mask">
                            <div class="mask"></div>
                            <i class="play"></i>
                        </div>
                    </div>
                    <div class="course-feature">
                        <i class="caret"></i>
                        <i class="heart"></i>
                        <h5>美国大使馆</h5>
                        <div class="course-intro">
                            <p>
                                大家好，我是本年度参加过ABC本期英语培训的一名学员。短短为其三个月的培训已逐渐接近尾声，在授课美国老师Darren的带领下每节课都有新的收获。ABC针对我们提高英语口语能力的培训需求，要求老师根据热点时事量身定制口语练习教材并提前由相应跟踪服务的客服人员课前发给我们，一方面对我们新一节课的知识点提前做好预习，另一方面大大增强了整期培训的逻辑连贯性。整体的核心课堂氛围也是非常好，不仅有一对一的Presentation环节，并且融入分组讨论Role-play，不时还通过小游戏的方式更是活跃了课堂氛围。并且为了更好的突出我们的学习效果，ABC还会在培训期间以小测验的方式，老师会针对性的给每位学员评语以及课后学习的相关建议。总体最深刻的感觉，在老师的调动下能够真正的培养了对英语学习与表达的兴趣！
                            </p>
                            <a class="btn">立即体验</a>
                        </div>
                    </div>
                </div>
                <div class="each-course">
                    <div class="course-img c4">
                        <div class="course-mask">
                            <div class="mask"></div>
                            <i class="play"></i>
                        </div>
                    </div>
                    <div class="course-feature">
                        <i class="caret"></i>
                        <i class="heart"></i>
                        <h5>中国工商银行总行</h5>
                        <div class="course-intro">
                            <p>
                                由于工作原因，我经常需要出席重要的国际会议，并且需要与外籍人士进行商务交流，因此对我的英文水平要求非常高。

                                ABC英语的企业课程给了我极大的帮助！一对一的外教上门授课模式，让我在办公室就可以学习英语，为我节省了大量的交通时间。并且ABC会根据我的英语水平和工作需要为我量身定制非常实用的培训课程；每一课的内容都与我的工作息息相关，如商务会议、商务谈判、商务宴请等。而且ABC的外教老师Terence,具有极强的商务背景，能够帮助我学习到非常专业、地道的商务表达。在与ABC合作的过程中，我的商务英语水平有了质的飞越，现在已经可以与外籍人士进行非常流畅的商务沟通。我会在ABC的鼓励和帮助下继续学下去，希望我的英文水平能够再上一个台阶。
                            </p>
                            <a class="btn">立即体验</a>
                        </div>
                    </div>
                </div>
                <div class="each-course">
                    <div class="course-img c5">
                        <div class="course-mask">
                            <div class="mask"></div>
                            <i class="play"></i>
                        </div>
                    </div>
                    <div class="course-feature">
                        <i class="caret"></i>
                        <i class="heart"></i>
                        <h5>国家会议中心</h5>
                        <div class="course-intro">
                            <p>
                                在2013年10月到2014年3月， ABC外语学校为我们公司进行了将近4个月的英语培训课程。培训的内容为酒店商务英语。我的英语水平较差，开始的时候学的比较吃力，但是Indre老师特别耐心，发音也很清晰，她放慢语速，不厌其烦地给我讲解我所遇到的难题，她认真的教学态度让我非常钦佩，并且在她的帮助下我对英语产生了很大的兴趣。此外，Indre老师每次课都根据学员们的整体水平量身定制教材，并且授课内容与我们的工作息息相关，非常丰富和实用。通过这次培训，我学会了很多与我工作相关的酒店服务用语及相关的餐饮词汇，非常受用，谢谢Indre老师。
                            </p>
                            <a class="btn">立即体验</a>
                        </div>
                    </div>
                </div>
                <div class="each-course">
                    <div class="course-img c6">
                        <div class="course-mask">
                            <div class="mask"></div>
                            <i class="play"></i>
                        </div>
                    </div>
                    <div class="course-feature">
                        <i class="caret"></i>
                        <i class="heart"></i>
                        <h5>大众汽车</h5>
                        <div class="course-intro">
                            <p>
                                我在ABC 已经学习了1年多的英语课程了，我非常喜欢我的老师Jon, 他授课经验非常丰富，为很多知名企业培训过，英语综合能力很强，且非常专业，能够为我们讲授一些与工作相关的内容，很实用。而且老师有我们每位学员的邮箱地址，和我们能够及时地沟通。而且，老师在课上能够及时地纠正我出现的错误语法和发音，很有耐心和责任心。我们的培训周期是每周两次课，每次一个半小时，这个课程的时间安排的也很合理，两次课之间还能进行课后复习。此外，ABC外语学还有专业的客服人员不定期地做满意度调查，并根据学员的反馈及时地做出调整，服务很周到。
                            </p>
                            <a class="btn">立即体验</a>
                        </div>
                    </div>
                </div>
                <div class="each-course">
                    <div class="course-img c6">
                        <div class="course-mask">
                            <div class="mask"></div>
                            <i class="play"></i>
                        </div>
                    </div>
                    <div class="course-feature">
                        <i class="caret"></i>
                        <i class="heart"></i>
                        <h5>PICC</h5>
                        <div class="course-intro">
                            <p>
                                回顾这段时间的学习过程与经历，收获很大，达到了预期的学习目的。非常满意Sean老师的英语教学。英语课堂上的交流十分充分和广泛，涉及日常工作、生活学习、文化活动、所见所闻、所想所感，任何一件事、一条新闻、一个活动都能成为课堂交流的主题，并在外教老师的指导下，使得课堂交流能够延伸和扩展，在交流中增进了不同文化的理解。并且Sean老师会结合工作实际进行经验分享和交流互动。讨论一些哈佛商学院风险管理案例分析报告；向外教请教完善部门专业性强、高质量的国际会议PPT英文演讲材料；分享老师在沟通艺术、管理学科等方面的做法；通过外教老师的讲解和介绍，对一些国家和地区的历史文化、政治经济、人文教育及社会变化等认识有了更加清晰的脉络，有助于我们在推进国际化发展战略进程中更好的理解、分析和预判国别风险。
                            </p>
                            <a class="btn">立即体验</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="section client">
        <div class="container">
            <h1 class="title">我们的客户</h1>
            <h2 class="sub-text">与全国多家品牌名企战略合作</h2>
            <div class="divider"></div>
            <img src="~/Content/train/clients.png" />
        </div>
    </div>
    <script src="~/Scripts/jquery-2.2.4.min.js"></script>
    <script src="~/Scripts/abc/base.es5.min.js"></script>
    <script src="~/Scripts/abc/common.es5.min.js"></script>
    <script src="~/Scripts/layer/layer.js"></script>
    <script src="~/Scripts/abc/train.es5.min.js"></script>
</body>
</html>
