
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    border: 0 none;
    font: inherit;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: outside none none;
}
blockquote, q {
    quotes: none;
}
blockquote::before, blockquote::after, q::before, q::after {
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
html {
    background-color: #efefef;
}
body {
    color: #999;
    font: 13px "Microsoft YaHei","微软雅黑",Arial,Verdana,Tahoma;
}
h1, h2, h3, h4, h5, h6, i, em {
    font-style: normal;
    font-weight: normal;
}
input, button, select, textarea {
    border: 0 none;
    border-radius: 0;
    font-family: "Microsoft YaHei","微软雅黑",Arial,Verdana,Tahoma;
    outline: medium none;
    vertical-align: middle;
}
a {
    color: #000;
    text-decoration: none;
}
a:hover {
    color: #ff8200;
}
strong {
    font-weight: bold;
}
img {
    vertical-align: middle;
}
*::-moz-selection {
    background-color: #ff8200;
    color: white;
    text-shadow: none;
}
.f-cb::before, .f-cb::after, .f-cbli li::before, .f-cbli li::after {
    content: "";
    display: table;
}
.f-cb::after, .f-cbli li::after {
    clear: both;
}
.f-cb, .f-cbli li {
}
.f-ib {
    display: inline-block;
}
.f-dn {
    display: none;
}
.f-db {
    display: block;
}
.f-fl {
    float: left;
}
.f-fr {
    float: right;
}
.f-pr {
    position: relative;
}
.f-pa {
    position: absolute;
}
.f-prz {
    position: relative;
}
.f-oh {
    overflow: hidden;
}
.f-ff0 {
    font-family: "宋体",arial;
}
.f-ff1 {
    font-family: "Microsoft YaHei","微软雅黑",arial,"宋体";
}
.f-fs1 {
    font-size: 12px;
}
.f-fs2 {
    font-size: 14px;
}
.f-fwn {
    font-weight: normal;
}
.f-fwb {
    font-weight: bold;
}
.f-tal {
    text-align: left;
}
.f-tac {
    text-align: center;
}
.f-tar {
    text-align: right;
}
.f-taj {
    text-align: justify;
}
.f-vam, .f-vama * {
    vertical-align: middle;
}
.f-wsn {
    white-space: nowrap;
    word-wrap: normal;
}
.f-pre {
    overflow: hidden;
    text-align: left;
    white-space: pre-wrap;
    word-break: break-all;
    word-wrap: break-word;
}
.f-wwb {
    white-space: normal;
    word-break: break-all;
    word-wrap: break-word;
}
.f-ti {
    overflow: hidden;
    text-indent: -30000px;
}
.f-ti2 {
    text-indent: 2em;
}
.f-lhn {
    line-height: normal;
}
.f-tdu, .f-tdu:hover {
    text-decoration: underline;
}
.f-tdn, .f-tdn:hover {
    text-decoration: none;
}
.f-toe {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
}
.f-csp {
    cursor: pointer;
}
.f-csd {
    cursor: default;
}
.f-csh {
    cursor: help;
}
.f-csm {
    cursor: move;
}
.f-usn {
    -moz-user-select: none;
}
.g-in {
    margin: 0 auto;
    width: 1000px;
}
.g-hd {
    border-bottom: 3px solid #f8ebde;
    margin-bottom: 17px;
}
.g-bd {
    min-height: 500px;
    padding-bottom: 40px;
}
.g-mn {
    float: left;
    padding-left: 10px;
    width: 650px;
}
.g-mn.gw {
    width: 860px;
}
.g-mn.gs {
    float: none;
    padding-left: 0;
    width: inherit;
}
.g-mn.gl {
    padding-left: 0;
    width: 790px;
}
.g-mncw {
    background-color: #fff;
    border: 1px solid #dbdee0;
}
.g-sd-l {
    float: left;
    width: 130px;
}
.g-sd-r {
    float: right;
    font-size: 12px;
    width: 200px;
}
.g-ft {
    background-color: #878787;
    font-size: 12px;
}
.g-ft .links {
    display: inline-block;
    height: 16px;
    line-height: 16px;
    padding-bottom: 12px;
    padding-top: 21px;
    vertical-align: middle;
}
.g-ft .links a, .g-ft .links i {
    float: left;
}
.g-ft .links a {
    color: #fff;
}
.g-ft .links a:hover {
    color: #ff8200;
}
.g-ft .links i {
    color: #6c6c6c;
    margin-left: 14px;
    margin-right: 16px;
}
.g-ft .trust {
    display: inline-block;
    margin-top: 11px;
    padding-right: 1px;
    vertical-align: middle;
}
.g-ft .trust a {
    background: rgba(0, 0, 0, 0) url("../image/common/xx.png?v=R8aIFcV0jWcBwwaLEItwiQ%3D%3D") no-repeat scroll 0 0;
    display: block;
    float: left;
    height: 45px;
    margin-left: 23px;
    width: 135px;
}
.g-ft .trust .t1 {
    background-position: 0 -2px;
}
.g-ft .trust .t2 {
    background-position: -158px -2px;
}
.g-ft .trust .t3 {
    background-position: -317px -2px;
}
.g-ft .trust .t4 {
    background-position: -475px -2px;
}
.g-ft .piped {
    color: #333;
    display: inline-block;
    height: 16px;
    line-height: 16px;
    padding: 23px 0 25px 23px;
}
.g-ft .piped a {
    color: #333;
}
.g-ft .piped a:hover {
    text-decoration: underline;
}
.g-ft .piped i {
    color: #6c6c6c;
    margin-left: 5px;
    margin-right: 2px;
}
.g-ft .piped #cnzz_stat_icon_1253020514 {
    position: relative;
    top: -2px;
    z-index: 0;
}
.m-top {
    background-color: #f3f3f3;
    border-bottom: 1px solid #e3e3e3;
    font-size: 12px;
    height: 33px;
    line-height: 32px;
}
.m-top a {
    color: #818181;
}
.m-top a:hover {
    color: #ff8200;
}
.m-menu {
    height: 33px;
}
.m-menu a {
    display: inline-block;
    vertical-align: top;
}
.m-menu .num {
    background: rgba(0, 0, 0, 0) url("../image/common/sprites.gif?v=jBfU3OpB%2FEEX3RjH57Bi4Q%3D%3D") no-repeat scroll -268px -258px;
    color: #fff;
    display: inline-block;
    font-size: 11px;
    height: 14px;
    line-height: 14px;
    margin-left: 1px;
    text-align: center;
    width: 14px;
}
.m-menu .tips {
    background: rgba(0, 0, 0, 0) url("../image/common/sprites.gif?v=jBfU3OpB%2FEEX3RjH57Bi4Q%3D%3D") no-repeat scroll -126px -304px;
    display: inline-block;
    height: 23px;
    line-height: 23px;
    margin-left: 4px;
    margin-top: 5px;
    padding-left: 10px;
}
.m-menu .tips .txt {
    background: rgba(0, 0, 0, 0) url("../image/common/sprites.gif?v=jBfU3OpB%2FEEX3RjH57Bi4Q%3D%3D") repeat-x scroll -100px -354px;
    color: #ff8200;
    float: left;
}
.m-menu .tips .close {
    background: rgba(0, 0, 0, 0) url("../image/common/sprites.gif?v=jBfU3OpB%2FEEX3RjH57Bi4Q%3D%3D") repeat-x scroll -150px -304px;
    cursor: pointer;
    float: left;
    height: 23px;
    overflow: hidden;
    text-indent: -30000px;
    width: 24px;
}
.m-menu i {
    color: #d0d0d0;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    vertical-align: top;
}
.m-link {
}
.m-link li {
    float: left;
    padding-left: 20px;
}
.m-link a {
    display: block;
}
.m-link .follow {
    position: relative;
}
.m-link .follow ul {
    background: rgba(0, 0, 0, 0) url("../image/common/sprites.gif?v=jBfU3OpB%2FEEX3RjH57Bi4Q%3D%3D") no-repeat scroll -506px -416px;
    display: none;
    height: 64px;
    left: 0;
    padding-top: 5px;
    position: absolute;
    top: 29px;
    width: 88px;
}
.m-link .follow li {
    height: 32px;
    line-height: 32px;
    padding-left: 32px;
}
.m-head {
    background-color: #fff;
    border-bottom: 2px solid #ff8200;
    font-family: "Microsoft YaHei","微软雅黑",arial,"宋体";
}
.m-head .g-in {
    height: 84px;
}
.m-head .logo {
    background: rgba(0, 0, 0, 0) url("../image/common/sprites.gif?v=jBfU3OpB%2FEEX3RjH57Bi4Q%3D%3D") no-repeat scroll -27px -165px;
    float: left;
    margin-top: 17px;
}
.m-head .logo a {
    display: block;
    height: 50px;
    overflow: hidden;
    text-indent: -30000px;
    width: 147px;
}
.m-head .nav {
    display: inline-block;
    float: left;
    font-size: 16px;
    margin-left: 36px;
    margin-top: 26px;
}
.m-head .nav li {
    float: left;
    margin-left: 1px;
    margin-right: 1px;
}
.m-head .nav a {
    display: block;
    height: 40px;
    line-height: 30px;
    padding: 0 18px 18px;
}
.m-head .nav .crt a {
    background: rgba(0, 0, 0, 0) url("../image/common/sprites.gif?v=jBfU3OpB%2FEEX3RjH57Bi4Q%3D%3D") no-repeat scroll center -182px;
    color: #ff8200;
}
.m-head .ad-sm {
    background: rgba(0, 0, 0, 0) url("../image/menber/up/ad-198_40.png?v=94aOHTY01NKD81lgUugjEQ%3D%3D") no-repeat scroll 0 0;
    float: right;
    height: 40px;
    margin: 22px 35px 0 0;
    overflow: hidden;
    text-indent: -30000px;
    width: 198px;
}
.m-head .ad-sm.m_1 {
    background-position: 0 -1px;
}
.m-head .ad-sm.m_2 {
    background-position: 0 -43px;
}
.m-head .ad-sm.m_3 {
    background-position: 0 -85px;
}
.m-head .ad-sm.m_4 {
    background-position: 0 -127px;
}
.m-head .ad-sm.m_5 {
    background-position: 0 -169px;
}
.m-head .ad-sm.m_6 {
    background-position: 0 -211px;
}
.m-head .ad-sm.m_7 {
    background-position: 0 -253px;
}
.m-head .ad-sm.m_8 {
    background-position: 0 -295px;
}
.m-head .ad-sm.m_9 {
    background-position: 0 -337px;
}
.m-head .ad-sm.m_10 {
    background-position: 0 -379px;
}
.m-head .ad-sm.m_11 {
    background-position: 0 -421px;
}
.m-head .ad-sm.m_12 {
    background-position: 0 -463px;
}
.m-head .file_style {
    background: rgba(0, 0, 0, 0) url("../image/menber/up/invite_friend.png?v=dcyHm2bwAYtHvCBQ3A4L7g%3D%3D") no-repeat scroll 0 0;
    float: right;
    height: 40px;
    margin: 22px 35px 0 0;
    width: 200px;
}
.m-head .contact {
    color: #000;
    float: right;
    margin-top: 18px;
}
.m-head .contact .bizapp {
    background: rgba(0, 0, 0, 0) url("../image/common/sprites.gif?v=jBfU3OpB%2FEEX3RjH57Bi4Q%3D%3D") no-repeat scroll -200px -164px;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    text-indent: 18px;
}
.m-head .contact .phone {
    background: rgba(0, 0, 0, 0) url("../image/common/sprites.gif?v=jBfU3OpB%2FEEX3RjH57Bi4Q%3D%3D") no-repeat scroll -200px -188px;
    font-size: 20px;
    height: 26px;
    letter-spacing: 1px;
    line-height: 26px;
    padding-top: 2px;
    text-indent: 18px;
}
.m-s-menu {
    margin-top: -10px;
}
.m-s-menu ul {
    background: rgba(0, 0, 0, 0) url("../image/common/sprites.gif?v=jBfU3OpB%2FEEX3RjH57Bi4Q%3D%3D") no-repeat scroll -350px bottom;
    padding-bottom: 10px;
    padding-top: 10px;
}
.m-s-menu li {
    height: 28px;
    line-height: 28px;
}
.m-s-menu li.crt {
    background: rgba(0, 0, 0, 0) url("../image/common/sprites.gif?v=jBfU3OpB%2FEEX3RjH57Bi4Q%3D%3D") no-repeat scroll -594px -151px;
    text-indent: 12px;
}
.m-s-menu li.crt a {
    color: #ff8200;
}
.m-s-menu li a {
    position: relative;
}
.m-s-menu li .icon-new {
    background: rgba(0, 0, 0, 0) url("../image/menber/up_c/icon-new.png?v=2O6jCpdzdUdN%2BnPwE1PW%2BQ%3D%3D") no-repeat scroll 0 0;
    height: 12px;
    overflow: hidden;
    position: absolute;
    right: -25px;
    top: 3px;
    width: 22px;
}
.m-s-menu .feedback {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}
.m-s-menu .feedback .pen a {
    background: rgba(0, 0, 0, 0) url("../image/common/sprites.gif?v=jBfU3OpB%2FEEX3RjH57Bi4Q%3D%3D") no-repeat scroll right -207px;
    color: #ff8200;
    padding-right: 14px;
}
.m-ad-lg {
    margin-bottom: 20px;
}
.m-ad-lg .m-side a {
    display: block;
}
.m-ad-lg .m-side .bd {
    height: 90px;
    overflow: hidden;
    position: relative;
}
.m-ad-lg .m-side .hd {
    background-color: rgba(0, 0, 0, 0.22);
    border-radius: 6px;
    bottom: 8px;
    height: 13px;
    left: 8px;
    padding: 0 7px 0 2px;
    position: absolute;
}
.m-ad-lg .m-side .hd li {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    cursor: pointer;
    display: inline;
    float: left;
    height: 7px;
    margin-left: 5px;
    margin-top: 3px;
    overflow: hidden;
    width: 7px;
}
.m-ad-lg .m-side .hd li.crt {
    background-color: #ff8200;
}
.m-ad-lg .m-count {
    position: relative;
}
.m-ad-lg .m-count .cont {
    background: rgba(0, 0, 0, 0) url("../image/common/lg-count-date.png?v=NdgywNoGCA%2FL70xlBc00QA%3D%3D") no-repeat scroll 0 0;
    bottom: 0;
    color: #6e6e6e;
    font-family: "Microsoft YaHei","微软雅黑",arial,"宋体";
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    padding-left: 26px;
    position: absolute;
    right: 0;
    width: 353px;
}
.m-ad-lg .m-count .w320 {
    width: 320px;
}
.m-ad-lg .m-count .m-timer {
    bottom: 0;
    color: #111;
    font-size: 16px;
    left: 50%;
    margin-left: -207px;
    padding: 0 24px;
    position: absolute;
    width: 366px;
}
.m-ad-lg .m-count .m-timer .m-timer-mn {
    background: #fff none repeat scroll 0 0;
    padding: 8px 0 3px;
    width: 366px;
}
.m-ad-lg .m-count .m-timer .u-txt {
    font-family: "Microsoft YaHei","微软雅黑",Arial,Verdana,Tahoma;
    font-size: 14px;
}
.m-ad-lg .m-count .m-timer .u-num {
    font-family: "Microsoft YaHei","微软雅黑",Arial,Verdana,Tahoma;
    font-size: 14px;
}
.m-ad-lg .m-count .m-timer .u-colon {
    color: #333;
    font-weight: bold;
}
.m-ad-lg .m-count .m-timer .u-rd-l {
    background: rgba(0, 0, 0, 0) url("../image/common/timer-rd.png?v=kIRp1%2B7MperKEbyQR81QwQ%3D%3D") no-repeat scroll 1px 0;
    bottom: 0;
    height: 33px;
    left: 0;
    position: absolute;
    width: 24px;
}
.m-ad-lg .m-count .m-timer .u-rd-r {
    background: rgba(0, 0, 0, 0) url("../image/common/timer-rd.png?v=kIRp1%2B7MperKEbyQR81QwQ%3D%3D") no-repeat scroll -27px 0;
    bottom: 0;
    height: 33px;
    position: absolute;
    right: 0;
    width: 24px;
}
.m-ad-lg .m-count .m-timer .m-lt {
    float: left;
    height: 22px;
    line-height: 22px;
}
.m-ad-lg .m-count .m-timer .m-rt {
    float: right;
    height: 22px;
    line-height: 22px;
    text-align: right;
}
.m-ad-lg .m-count .m-timer .m-rt i {
    background: #333 none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
    float: left;
    height: 19px;
    line-height: 19px;
    margin-top: 2px;
    text-align: center;
    width: 25px;
}
.m-ad-lg .m-count .m-timer .m-rt span {
    float: left;
    padding: 0 5px;
}
.m-ad-lg .m-count .m-timer .m-rt .u-line {
    border-left: 1px solid #333;
    padding-left: 11px;
}
.m-ad-lg .m-count .m-timer .m-rt .u-txt-day {
    color: #6d6d6d;
}
.m-ad-lg .m-count strong {
    font-size: 16px;
}
.m-ad-lg .m-count .end {
    border-left: 1px solid #bfb2b2;
    margin-left: 8px;
    padding-left: 8px;
}
.m-ad-lg .m-count .date {
    height: 20px;
    line-height: 20px;
    position: absolute;
    right: 6px;
    top: 5px;
}
.m-ad-lg .m-count .date i, .m-ad-lg .m-count .date span, .m-ad-lg .m-count .date em {
    float: left;
}
.m-ad-lg .m-count .date i {
    background: gray none repeat scroll 0 0;
    border-radius: 3px;
    color: #fff;
    text-align: center;
    width: 25px;
}
.m-ad-lg .m-count .date span {
    padding-left: 4px;
    padding-right: 4px;
}
.m-ad-lg .m-count .date em {
    background: rgba(0, 0, 0, 0) url("../image/common/lg-count-date.png?v=NdgywNoGCA%2FL70xlBc00QA%3D%3D") no-repeat scroll -31px -30px;
    height: 20px;
    overflow: hidden;
    text-indent: -30000px;
    width: 12px;
}
.m-ad-lg .notice {
    background-color: #fcf5d7;
    border: 1px solid #f9d4ac;
    color: #834400;
    height: 22px;
    line-height: 22px;
    padding: 8px 13px;
    position: relative;
}
.m-ad-lg .notice a {
    color: #834400;
}
.m-ad-lg .notice a:hover {
    text-decoration: underline;
}
.m-ad-lg .notice .close {
    background: rgba(0, 0, 0, 0) url("../image/common/sprites.gif?v=jBfU3OpB%2FEEX3RjH57Bi4Q%3D%3D") no-repeat scroll -219px -259px;
    cursor: pointer;
    height: 13px;
    overflow: hidden;
    position: absolute;
    right: 13px;
    text-indent: -30000px;
    top: 13px;
    width: 13px;
}
.m-ad-md .m-count {
    position: relative;
}
.m-ad-md .m-count .date {
    -moz-user-select: none;
    bottom: 14px;
    left: 24px;
    position: absolute;
}
.m-ad-md .m-count span {
    background: rgba(0, 0, 0, 0) url("../image/common/countdown-bg.png?v=hfk%2B6ZnUrAdK%2FxSCXcVcRg%3D%3D") no-repeat scroll 0 0;
    color: #fff;
    float: left;
    font-family: "Microsoft YaHei","微软雅黑",arial,"宋体";
    font-size: 16px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    width: 28px;
}
.m-ad-md .m-count em {
    background: rgba(0, 0, 0, 0) url("../image/common/countdown-bg.png?v=hfk%2B6ZnUrAdK%2FxSCXcVcRg%3D%3D") no-repeat scroll 0 -28px;
    float: left;
    height: 28px;
    overflow: hidden;
    text-indent: -30000px;
    width: 9px;
}
.m-tabs {
    background-color: #efefef;
    border-bottom: 1px solid #dbdee0;
}
.m-tabs ul {
    display: inline-block;
    font-size: 14px;
    margin-top: -1px;
    vertical-align: middle;
}
.m-tabs li {
    float: left;
    margin-bottom: -1px;
}
.m-tabs li a {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #dbdee0 #dbdee0 #dbdee0 -moz-use-text-color;
    border-image: none;
    border-style: solid solid solid none;
    border-width: 1px 1px 1px medium;
    color: #999;
    display: inline-block;
    height: 32px;
    line-height: 32px;
    padding-left: 24px;
    padding-right: 24px;
}
.m-tabs .crt a, .m-tabs li a:hover {
    background-color: #fff;
    border-bottom-color: #fff;
    border-top-color: #ff8200;
    color: #000;
}
.m-tabs .last a {
    border-right-width: 0;
}
.m-tabs .last.crt a {
    border-right-width: 1px;
}
.m-pagenavi {
    font-size: 0;
    height: 18px;
    padding-bottom: 15px;
    padding-top: 15px;
    text-align: center;
}
.m-pagenavi * {
    display: inline-block;
    font-size: 12px;
    height: 16px;
    line-height: 16px;
}
.m-pagenavi a, .m-pagenavi span {
    margin-left: 3px;
}
.m-pagenavi a {
    background-color: #fff;
    border: 1px solid #dbdee0;
    padding-left: 5px;
    padding-right: 5px;
}
.m-pagenavi a:hover, .m-pagenavi a.crt, .m-pagenavi a:active {
    border-color: #ff8200;
}
.m-pagenavi a.crt, .m-pagenavi a:active {
    background-color: #ff8200;
    color: #fff;
}
.m-pagenavi .p, .m-pagenavi .n {
    background-color: #efefef;
    border-color: #efefef;
    margin: 0 10px;
    padding: 0;
}
.m-pagenavi .p:hover, .m-pagenavi .n:hover, .m-pagenavi .p:active, .m-pagenavi .n:active {
    background-color: #efefef;
    border-color: #efefef;
    color: #ff8200;
}
.m-alert {
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1040;
}
.m-alert .in {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: -3px 3px 0 0 rgba(0, 0, 0, 0.03);
    left: 50%;
    margin-left: -117px;
    margin-top: -72px;
    overflow: hidden;
    position: relative;
    top: 50%;
    width: 234px;
}
.m-alert .hd {
    background-color: #ff8200;
    color: #fff;
    height: 31px;
    line-height: 31px;
}
.m-alert .hd h4 {
    text-indent: 10px;
}
.m-alert .hd .close {
    background: rgba(0, 0, 0, 0) url("../image/common/sprites.gif?v=jBfU3OpB%2FEEX3RjH57Bi4Q%3D%3D") no-repeat scroll -165px -255px;
    height: 20px;
    overflow: hidden;
    position: absolute;
    right: 5px;
    text-indent: -30000px;
    top: 5px;
    width: 20px;
}
.m-alert .bd {
    border-left: 1px solid #dbdee0;
    border-right: 1px solid #dbdee0;
    color: #000;
    line-height: 1.75;
    min-height: 42px;
    padding: 18px 20px 0;
}
.m-alert .ft {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #dbdee0 #dbdee0;
    border-image: none;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    padding-bottom: 19px;
    padding-top: 9px;
}
.m-alert .ft .u-btn {
    font-size: 12px;
    height: 22px;
    line-height: 22px;
    min-width: 50px;
    padding: 0 10px;
}
.m-dialog {
    background: rgba(0, 0, 0, 0) url("../image/common/dialog-bg.png?v=ZXOfBLXZHirpRbu4W5nQWw%3D%3D") repeat scroll 0 0;
    bottom: 0;
    display: none;
    height: 100%;
    left: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1040;
}
.m-dialog .in {
    background-color: #f7f7f7;
    border-radius: 5px;
    left: 50%;
    margin-left: -400px;
    overflow: hidden;
    padding: 25px;
    position: relative;
    top: 20%;
    width: 800px;
}
.m-dialog .hd {
    padding-bottom: 20px;
    padding-top: 6px;
}
.m-dialog .hd .close {
    background: rgba(0, 0, 0, 0) url("../image/common/sprites.gif?v=jBfU3OpB%2FEEX3RjH57Bi4Q%3D%3D") no-repeat scroll -307px -247px;
    height: 43px;
    overflow: hidden;
    position: absolute;
    right: 0;
    text-indent: -30000px;
    top: 0;
    width: 43px;
}
.m-dialog .hd .close:hover {
    background-position: -307px -290px;
}
.m-dialog .bd {
    color: #000;
    line-height: 1.75;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}
.m-dialog .bd .border {
    background-color: #fff;
    border: 1px solid #dbdee0;
}
.m-dialog .ft .sibmit {
    padding-bottom: 15px;
    padding-top: 30px;
}
.m-dialog .ft .u-btn {
    margin: 0 3px;
}
.m-load {
    background: white url("../image/common/icon-load.gif?v=P7B89nJuqOnAsvVIZbJRTA%3D%3D") no-repeat scroll 55px 40px;
    border: 1px solid #ff8200;
    border-radius: 2px;
    box-shadow: -4px 4px 0 rgba(255, 130, 0, 0.1);
    display: none;
    height: 98px;
    left: 50%;
    line-height: 98px;
    margin-left: -110px;
    margin-top: -50px;
    padding-left: 84px;
    position: fixed;
    top: 50%;
    width: 134px;
    z-index: 1040;
}
.m-fixed {
    background: red none repeat scroll 0 0;
    bottom: 40px;
    height: 200px;
    position: fixed;
    right: 0;
    width: 200px;
}
.m-fixed-survey {
    bottom: 70px;
    height: 135px;
    overflow: hidden;
    position: fixed;
    right: 0;
    text-indent: -30000px;
    width: 75px;
}
.m-fixed-survey a {
    background: rgba(0, 0, 0, 0) url("../image/common/online_revrNew2.png?v=U%2FfzR%2FyttiNHoQ%2BXH%2FanPg%3D%3D") no-repeat scroll 0 0;
    display: block;
    height: 37px;
    margin-top: 6px;
    width: 74px;
}
.m-fixed-survey a.hiring {
    background: rgba(0, 0, 0, 0) url("../image/common/online_serverNew2.png?v=tcOLx15yd%2FOU5nu4mXu%2BCQ%3D%3D") no-repeat scroll 0 0;
    height: 86px;
    margin-left: 1px;
    width: 74px;
}
#u-gotop {
    bottom: 0;
    overflow: hidden;
    position: fixed;
    right: 0;
    text-indent: -30000px;
}
#u-gotop a {
    background: rgba(0, 0, 0, 0) url("../image/common/sprites.gif?v=jBfU3OpB%2FEEX3RjH57Bi4Q%3D%3D") no-repeat scroll -250px -450px;
    display: block;
    height: 44px;
    opacity: 0.4;
    width: 44px;
}
#u-gotop a:hover {
    opacity: 0.9;
}
dl.u-list dt {
    background: rgba(0, 0, 0, 0) url("../image/common/sprites.gif?v=jBfU3OpB%2FEEX3RjH57Bi4Q%3D%3D") no-repeat scroll -596px -246px;
    color: #000;
    line-height: 1.9;
    padding-left: 14px;
    padding-top: 8px;
}
dl.u-list dd {
    line-height: 2;
    padding-left: 14px;
}
.u-tt, .u-tt-sm, .u-tt-md, .u-tt-lg, .u-tt-xl {
    color: #ff8200;
    font-family: "Microsoft YaHei","微软雅黑",arial,"宋体";
}
.u-tt-sm {
    font-size: 14px;
}
.u-tt-md {
    font-size: 16px;
}
.u-tt-lg {
    font-size: 18px;
}
.u-tt-xl {
    font-size: 20px;
}
.u-btn {
    -moz-user-select: none;
    background-color: #fff;
    border: 1px solid #aaa;
    border-radius: 2px;
    color: #000;
    cursor: pointer;
    display: inline-block;
    height: 28px;
    line-height: 28px;
    padding: 0 16px;
    text-align: center;
    vertical-align: middle;
}
.u-btn:hover, .u-btn.hover {
    border-color: #ff8200;
    color: #ff8200;
}
.u-btn:active, .u-btn.active {
    background-color: #ff8200;
    border-color: #ff8200;
    color: #fff;
}
.u-btn.active:hover {
    color: #fff;
}
.u-btn.md {
    font-size: 15px;
    height: 33px;
    line-height: 33px;
}
.u-lab {
    display: inline-block;
    vertical-align: middle;
}
.u-lab .u-txt, .u-lab .u-ipt, .u-lab .u-rad, .u-lab .u-ckb {
    float: left;
}
.u-lab .u-txt {
    color: #000;
    height: 30px;
    line-height: 30px;
}
.u-lab .u-rad {
    margin-top: 9px;
}
.u-ipt {
    background: rgba(0, 0, 0, 0) url("../image/common/sprites.gif?v=jBfU3OpB%2FEEX3RjH57Bi4Q%3D%3D") repeat-x scroll 0 0;
    border: 1px solid #ccc;
    height: 28px;
    padding: 0 10px;
}
.u-ipt:focus, .u-ipt.focus {
    background-position: 0 -30px;
    border-color: #ff8200;
}
.u-rad, .u-ckb {
    background: rgba(0, 0, 0, 0) url("../image/common/sprites.gif?v=jBfU3OpB%2FEEX3RjH57Bi4Q%3D%3D") no-repeat scroll -19px -253px;
    height: 12px;
    margin: 9px 10px 0;
    overflow: hidden;
    text-indent: -30000px;
    width: 12px;
}
.u-rad.check, .u-ckb.check {
    background-position: -19px -265px;
}
.u-ckb {
    background-position: -68px -251px;
    height: 14px;
    margin-top: 8px;
    width: 14px;
}
.u-ckb.checked {
    background-position: -68px -265px;
}
.u-sec {
    -moz-user-select: none;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    color: #000;
    cursor: default;
    display: inline-block;
    position: relative;
}
.u-sec.open {
    z-index: 1;
}
.u-sec .seced {
    background: rgba(0, 0, 0, 0) url("../image/common/sprites.gif?v=jBfU3OpB%2FEEX3RjH57Bi4Q%3D%3D") no-repeat scroll right -72px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    height: 28px;
    line-height: 28px;
    padding-left: 10px;
    padding-right: 26px;
}
.u-sec .seced.open {
    background-position: right -102px;
}
.u-sec .secls {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: -moz-use-text-color #ccc #ccc;
    border-image: none;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    display: none;
    left: -1px;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    top: 30px;
    width: 100%;
}
.u-sec .secls.open {
    display: block;
}
.u-sec .secls li {
    line-height: 24px;
    padding-left: 10px;
}
.u-sec .secls li:hover, .u-sec .secls li.hover {
    background-color: #e2e1e1;
}
.u-tab {
    width: 100%;
}
.u-tab th, .u-tab td {
    border: 1px solid #dbdee0;
    line-height: 1.75;
    text-align: center;
    vertical-align: middle;
}
.u-tab thead tr {
    background-color: #efefef;
    color: #999;
}
.u-tab thead th {
    padding: 8px 0;
}
.u-tab tbody tr {
    color: #000;
}
.u-tab tbody td {
    padding: 6px 0;
}
.u-tab tfoot tr {
    color: #ff8200;
}
.u-noContent {
    background-color: #efefef;
    border: 1px solid #dbdee0;
    color: #999;
    padding: 12px;
}
.u-noContent a {
    color: #ff8200;
}
.u-noContent a:hover {
    text-decoration: underline;
}
.u-noContent.space {
    height: 80px;
    line-height: 80px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}
.s-fc1 {
    color: #333;
}
.s-fc2 {
    color: #3e93cc;
}
.s-fc3 {
    color: #999;
}
.s-fc4 {
    color: #000;
}
.s-fc5 {
    color: #00ae00;
}
.s-fc6 {
    color: #ff8200;
}
.m-head .addFile {
    background: rgba(0, 0, 0, 0) url("../image/menber/up/invite_friend.gif?v=WQU68Dq7BFAyzufO9v%2FBvw%3D%3D") no-repeat scroll 0 0;
}
.m-head .addStyle02 {
    background-position: 0 -42px;
}
.m-head .addStyle03 {
    background-position: 0 -84px;
}
.m-head .addStyle04 {
    background-position: 0 -126px;
}
.pro-cha {
    line-height: 1;
    padding: 12px;
}
.pro-cha .tit {
    color: #ff8200;
    font-size: 16px;
}
.pro-cha .pro-nav {
    background-color: #efefef;
    border-bottom: 1px solid #d4d4d4;
    height: 39px;
    line-height: 39px;
    margin-top: 20px;
}
.pro-cha .pro-nav li {
    cursor: pointer;
    float: left;
    text-align: center;
    width: 110px;
}
.pro-cha .pro-nav .on {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff;
    border-color: #d4d4d4 #d4d4d4 #fff;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #1e1e1e;
    font-size: 14px;
}
.pro-cha .pro-content {
    font-size: 13px;
}
.pro-cha .pro-content li {
    color: #1e1e1e;
    margin-top: 30px;
}
.pro-cha .pro-content li p {
    color: #ff8200;
    font-size: 13px;
}
.pro-cha .pro-content li .pro-bom {
    margin-top: 12px;
}
.pro-cha .pro-content li .pro-bom .lt {
    float: left;
    width: 20px;
}
.pro-cha .pro-content li .pro-bom .rt {
    line-height: 22px;
    margin: 0 62px 0 24px;
}
.pro-cha .hide {
    display: none;
}

