<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8" />
    <meta name="keywords" content="ABC,English online," />
    <meta name="description" content="ABC English Online Education Platform, ABC在线英语" />
    <title>ABC在线英语首页</title>
    <link href="~/Content/young/home.css" rel="stylesheet"/>
    <style>
        .section .ad-1 .pc img {
            margin-left: 10px;
        }

        .section .ad-1 .pc .img-text {
            position: absolute;
            top: 0;
            left: 437px;
        }

            .section .ad-1 .pc .img-text p {
                height: auto;
                background-color: #EFE5DA;
                -ms-border-radius: 10px;
                border-radius: 10px;
                padding: 2px 20px;
                display: inline-block;
            }

                .section .ad-1 .pc .img-text p:hover {
                    background-color: #D02422;
                    color: #fff;
                }

                .section .ad-1 .pc .img-text p.second {
                    margin-top: 24px;
                }

                .section .ad-1 .pc .img-text p.third {
                    margin-top: 30px;
                }

                .section .ad-1 .pc .img-text p.fourth {
                    margin-top: 35px;
                }

                .section .ad-1 .pc .img-text p.fifth {
                    margin-top: 30px;
                }

                .section .ad-1 .pc .img-text p.sxith {
                    margin-top: 27px;
                }

                .section .ad-1 .pc .img-text p .know-more {
                    font-size: 9px;
                    color: #000;
                    margin-left: 15px;
                    cursor: pointer;
                }

                .section .ad-1 .pc .img-text p:hover .know-more {
                    color: #fff;
                }
    </style>
</head>
<body>

    <div class="banner"></div>
    @Html.Partial("YoungNav", 0)
<div class="section">
<div class="ad ad-1">
    <div class="container">
        <h1 class="title">WELCOME TO ABC</h1>
        <h2 class="sub-text">SOME GREAT FACTS</h2>
        <div class="divider"></div>
        <div class="pc">
            <img src="~/image/index/pc.png" />
            <div class="img-text">
                <p class="first">中国首家100%美加外教在线教育平台<a class="know-more">了解更多</a></p>
                <p class="second">王牌零起点课程，从零开始不用怕，四个月流利口语脱口而出<a class="know-more">了解更多</a></p>
                <p class="third">高效率的培训模式，网上真人教学一对一效果更好<a class="know-more">了解更多</a></p>
                <p class="fourth">五星级学管团队全程监督学习效果，还有丰富课外内容供您选修<a class="know-more">了解更多</a></p>
                <p class="fifth">独特的教育手段，"兴趣教学法"让你享受学习的乐趣<a class="know-more">了解更多</a></p>
                <p class="sxith">20年强大的线下实体教学累计，学员满意度99.2%<a class="know-more">了解更多</a></p>
            </div>
        </div>
        <div class="why">
            <h2>Why Choose ABC</h2>
            <p>
                ABC远程，隶属于ABC教育集团。以遍布全国的近30家实体教学中心为依托，数十万优秀学员卓越学习成果是ABC创建20余年来程碑似的见证。"神奇的音标教学法"、"兴趣教学法"、"动感教学法"和"三维口语训练法"，是ABC独创的英语教学方法，帮助了无数学员从被动学习到主动灵活学习。
            </p>
        </div>
    </div>
</div>
<div class="ad ad-2">
    <div class="container">
        <h1 class="title">THIS IS ABC ONLINE ENGLISH</h1>
        <h2 class="sub-text">这是ABC在线英语</h2>
        <div class="divider"></div>
        <div class="plan">
            <dl>
                <dt>
                    <img src="~/image/index/skyblue.png" alt="" />
                </dt>
                <dd>
                    <h3>培养孩子学习兴趣</h3>
                </dd>
            </dl>
            <dl>
                <dt>
                    <img src="~/image/index/pink.png" alt="" />
                </dt>
                <dd>
                    <h3>养成良好学习习惯</h3>
                </dd>
            </dl>
            <dl>
                <dt>
                    <img src="~/image/index/lightyellow.png" alt="" />
                </dt>
                <dd>
                    <h3>打下坚实英语基础</h3>
                </dd>
            </dl>
            <dl>
                <dt>
                    <img src="~/image/index/purplo.png" alt="" />
                </dt>
                <dd>
                    <h3>塑造纯正地道口语</h3>
                </dd>
            </dl>
        </div>
    </div>
</div>
<div class="ad ad-4">
    <div class="container">
        <h1 class="title">OUR STUDY PROGRAM</h1>
        <h2 class="sub-text">学习方案</h2>
        <div class="divider"></div>
        <div class="course">
            <div class="each-course c-1">
                <div class="course-img">
                    <img src="~/assets/young/image/index/course1.png" alt="" />
                </div>
                <div class="course-feature">
                    <i class="caret"></i>
                    <h5><span>6-7岁</span><i class="like"></i></h5>
                    <div class="course-intro">
                        <p>
                            调动孩子英语学习兴趣，培养正确的学习习惯及方法；通过音标学习，配合英文歌曲，让孩子在律动中，通过肢体语言快速掌握英语。让每一个孩子成为英语小达人。
                        </p>
                    </div>
                    <a class="btn">立即体验</a>
                </div>
            </div>
            <div class="each-course c-2">
                <div class="course-img">
                    <img src="~/assets/young/image/index/course2.png" alt="" />
                </div>
                <div class="course-feature">
                    <i class="caret"></i>
                    <h5><span>7-11岁</span><i class="like"></i></h5>
                    <div class="course-intro">
                        <p>
                            中外教学习，帮助学习提高英语综合成绩及实践能力，在听说读写中全面发展。扎实基础知识，巩固语法专项，为下一步全外教课程奠定基础。
                        </p>
                    </div>
                    <a class="btn">立即体验</a>
                </div>
            </div>
            <div class="each-course c-3">
                <div class="course-img">
                    <img src="~/assets/young/image/index/course3.png" alt="" />
                </div>
                <div class="course-feature">
                    <i class="caret"></i>
                    <h5><span>12-15岁</span><i class="like"></i></h5>
                    <div class="course-intro">
                        <p>
                            外教口语化听力强化，此阶段注重语言运用能力，与美加外教VIP互动，情景设置广泛时尚，与生活息息相关，让学习提高词汇量，句型积累，提高语言表达的准确性及流利度。
                        </p>
                    </div>
                    <a class="btn">立即体验</a>
                </div>
            </div>
            <div class="each-course c-4 active">
                <div class="course-img">
                    <img src="~/assets/young/image/index/course4.png" alt="" />
                </div>
                <div class="course-feature">
                    <i class="caret"></i>
                    <h5><span>出国留学ESL课程</span><i class="like"></i></h5>
                    <div class="course-intro">
                        <p>
                            衔接国外当地小学至高中教材，在中国提前学习ESL及其他学科——科学，数学，社会学。最大程度提前适应国外课程体系。
                        </p>
                    </div>
                    <a class="btn">立即体验</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ad ad-5">
    <div class="container">
        <h1 class="title">STAR STUDENT</h1>
        <h2 class="sub-text">明星学员</h2>
        <div class="divider"></div>
        <div class="star">
            <i class="prev"></i>
            <div class="star-panel">
                <div class="each-star">
                    <div class="star-img">
                        <img src="~/image/index/star_stu.png" alt="" />
                        <div class="name-bg"></div>
                        <div class="star-name">林玉鑫</div>
                    </div>
                    <div class="star-feature">
                        <p>
                            ABC在线英语学员——林玉鑫，首秀希望赛（2014西安站）斩获亚军与冠军一杆之差，再战希望赛（2014海口总决赛）均赛轮交出5鸟1鹰18洞boggyfree的漂亮答卷，排名从出发时的18位直线上升到第三位。他6岁开始打球，今年15岁，获得沃尔沃中国公开赛资格赛冠军。他热爱高尔夫，也酷爱英文。ABC在线陪伴他走遍了大江南北，边训练边比赛边学英文。相信不久的将来，优秀的英文能力可以祝他一臂之力进入世界名牌大学。
                        </p>
                    </div>
                </div>
            </div>
            <i class="next"></i>
        </div>
    </div>
</div>
<div class="ad ad-6">
    <div class="container" style="width: 985px;">
        <h1 class="title">我们的荣誉</h1>
        <h2 class="sub-text">载誉20余年致力打造品质教学</h2>
        <div class="divider"></div>
        <div class="honor">
            <div class="slide">
                <i id="left" class="prev"></i>
                <div id="pic">
                    <img src="~/Content/adult/home/1.png" style="width: 187px; height: 157px;" />
                    <img src="~/Content/adult/home/2.png" style="width: 187px; height: 157px;" />
                    <img src="~/Content/adult/home/3.png" style="width: 187px; height: 157px;" />
                    <img src="~/Content/adult/home/4.png" style="width: 187px; height: 157px;" />
                    <img src="~/Content/adult/home/5.png" style="width: 187px; height: 157px;" />
                    <img src="~/Content/adult/home/6.png" style="width: 187px; height: 157px;" />
                    <img src="~/Content/adult/home/7.png" style="width: 187px; height: 157px;" />
                    <img src="~/Content/adult/home/8.png" style="width: 187px; height: 157px;" />
                    <img src="~/Content/adult/home/9.png" style="width: 187px; height: 157px;" />
                    <img src="~/Content/adult/home/10.png" style="width: 187px; height: 157px;" />
                    <img src="~/Content/adult/home/11.png" style="width: 187px; height: 157px;" />
                    <img src="~/Content/adult/home/12.png" style="width: 187px; height: 157px;" />
                    <img src="~/Content/adult/home/13.png" style="width: 187px; height: 157px;" />
                    <img src="~/Content/adult/home/14.png" style="width: 187px; height: 157px;" />
                    <img src="~/Content/adult/home/15.png" style="width: 187px; height: 157px;" />
                    <img src="~/Content/adult/home/16.png" style="width: 187px; height: 157px;" />
                    <img src="~/Content/adult/home/17.png" style="width: 187px; height: 157px;" />
                    <img src="~/Content/adult/home/18.png" style="width: 187px; height: 157px;" />
                    <img src="~/Content/adult/home/19.png" style="width: 187px; height: 157px;" />
                    <img src="~/Content/adult/home/20.png" style="width: 187px; height: 157px;" />
                    <img src="~/Content/adult/home/21.png" style="width: 187px; height: 157px;" />
                    <img src="~/Content/adult/home/22.png" style="width: 187px; height: 157px;" />
                    <img src="~/Content/adult/home/23.png" style="width: 187px; height: 157px;" />
                    <img src="~/Content/adult/home/24.png" style="width: 187px; height: 157px;" />
                    <img src="~/Content/adult/home/25.png" style="width: 187px; height: 157px;" />
                    <img src="~/Content/adult/home/26.png" style="width: 187px; height: 157px;" />
                    <img src="~/Content/adult/home/27.png" style="width: 187px; height: 157px;" />
                    <img src="~/Content/adult/home/28.png" style="width: 187px; height: 157px;" />
                    <img src="~/Content/adult/home/29.png" style="width: 187px; height: 157px;" />
                    <img src="~/Content/adult/home/30.png" style="width: 187px; height: 157px;" />
                    <img src="~/Content/adult/home/31.png" style="width: 187px; height: 157px;" />
                    <img src="~/Content/adult/home/32.png" style="width: 187px; height: 157px;" />
                </div>
                <i id="right" class="next"></i>
            </div>
        </div>
    </div>
</div>
<div class="ad ad-7">
    <div class="container">
        <h1 class="title">我们的客户</h1>
        <h2 class="sub-text">与全国多家品牌名企战略合作</h2>
        <div class="divider"></div>
        <div class="client">
            <img src="~/Content/image/clients.png"/>
        </div>
    </div>
</div>
</div>
    
    <script src="~/Scripts/jquery-2.2.4.min.js"></script>
    <script src="~/Scripts/abc/common.es5.min.js"></script>
    <script src="~/Scripts/abc/base.es5.min.js"></script>
    <script src="~/Scripts/abc/young.es5.min.js"></script>
    <script src="~/Scripts/scrollpic.js"></script>
</body>
</html>