@{
    Layout = null;
}
<link href="~/Content/question.css" rel="stylesheet" />
<div class="g-mnc">
    <div class="g-mncw pro-cha">
        <p class="tit">常见问题</p>
        <div class="pro-nav">
            <ul>
                <li class="on" data-index="0">关于ABC Online</li>
                <li class="" data-index="1">关于外教</li>
                <li class="" data-index="2">课程与教材</li>
                <li class="" data-index="3">预约与取消</li>
                @*<li class="" data-index="4">价格与支付</li>*@
                <li class="" data-index="5">关于中教</li>
                @*<li class="" data-index="6">关于中教</li>*@
                <li class="" data-index="6">常见问题</li>
                @*<li class="" data-index="7">AC APP</li>*@
            </ul>
        </div>
        <div id="proContent">
            <div class="pro-content " style="min-height:528px">
                <ul>
                    <li>
                        <p><a name="0_0"></a>Q：ABC Online全部是一对一教学吗？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">ABC Online主要是一对一教学，但是同时辅助有一对六实践课和一对多文化课。给学员提供更多的实践和练习的机会。全方位打造英语听说读写的能力。</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="0_1"></a>Q：我可以试听吗？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">可以的。您只需花30秒就能马上@*<a style="color:blue;text-decoration: underline;" target="_blank" href="http://talk.abc.com.cn">免费预约</a>*@免费预约一节体验课了。或者拨打400-661-9888，我们的客服会帮您安排。</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="0_2"></a>Q：ABC Online的课程适合什么样的学员？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">只要您想说英语敢于说英语，任何年龄段或任何基础的学员都可以在ABC Online学习。我们的学员年龄跨度从四岁到七十多岁各个年龄段，各种学习需求的都有。</div>
                        </div>
                    </li>
                    @*<li>
                        <p><a name="0_4"></a>Q：可以用电话来上课吗？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">可以的。您可以联系客服购买电话包，在预约课程选择通讯方式时选择“电话”就可以了。请正确填写您的手机号码以确保老师上课能够联系到您。建议您尽量使用电脑上课，确保网络通畅。</div>
                        </div>
                    </li>*@
                    <li>
                        <p><a name="0_5"></a>Q：可以每天上课吗？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">可以的。我们的上课时间是每天的06：00-23:30。登录会员中心您可以自助式预约适合您的上课时间。</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="0_6"></a>Q：公司地址在哪里？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">我们位于北京市海淀区中关村大街甲28号海淀文化艺术大厦B座三层，乘车至海淀黄庄东站或海淀黄庄站，或地铁至海淀黄庄站，从东北口出向东走100米即到。</div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="pro-content hide">
                <ul>
                    <li>
                        <p><a name="1_0"></a>Q：ABC Online的老师全部是外教吗？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">我们不止有口音纯真的北美外教，更有经验丰富的中教老师。对于零基础和基础薄弱的学员，ABC Online会为您匹配经验丰富的中教老师进行授课哦！</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="1_1"></a>Q：老师会不会说中文？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">对于有一定英文基础，可以上外教课的学员，ABC营造的是一个全英语的学习环境，在这里会有类似留学的新鲜体验，让我们真正用英语的思维去思考和沟通，全英文的环境更有利于英语听力和口语的提高哦。</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="1_2"></a>Q：学生可以自由选择外教老师吗？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">登录会员中心选择“预约课程”，您可以根据自己的情况选择适合您的上课时间、外教老师、课程以及教材。您在ABC Online可以体验全程自助式预约课程的服务。老师的时间状态只要是开放的，您就可以预约。</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="1_3"></a>Q：老师的教学质量如何？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">老师全部经过严格的招聘筛选和培训流程，具有丰富的教学经验。而且我们会定期根据老师的上课表现来做测评和再培训，甚至淘汰学员综合评分低的老师。</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="1_4"></a>Q：换老师的话，老师不会一直了解我们的情况吧？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">您的上课进度都记录在课程档案中，老师会在课前查看您的历史课程档案的。如果您有其他的需求的话可以随时跟老师沟通，比如在约课的时候给老师留言等。</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="1_5"></a>Q：教师是固定的吗？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">您每节课都是全程自助式的预约老师、教材和上课时间的。由于老师会有休假或参与公司在岗培训的安排，所以通常建议您多选择几位您喜欢的老师进行收藏。</div>
                        </div>
                    </li>
                    @*<li>
                        <p><a name="1_6"></a>Q：老师上课质量怎么保证？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">我们的老师经过严格的招聘和培训，具有丰富的教学经验。而且我们会定期根据老师的上课表现来做测评和再培训。</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="1_7"></a>Q：老师是提前多久开课？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">这个开课是老师自己控制的，大部分老师会提前两周把课开好，建议您收藏这位老师，如果老师有开课，您会在手机端收到一条信息提醒您收藏的老师已开课。</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="1_8"></a>Q：老师想私下给我上课，可以吗？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">在ABC Online是不允许老师私自联系学员上课的，如果您和老师私下交易，我们公司就没有办法保证您的课程质量和老师的出勤了。而且您也不能用AC上课，所以请您不要和老师私下上课。</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="1_9"></a>Q：老师有教师资格证吗？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">教师全部经过严格的招聘和培训，具有丰富的教学经验。而且我们会定期更具老师的上课表现来做测评和再培训。虽然只有部分老师考过教师资格证，但是大部分老师的教学经验都是很丰富的，上课质量也很好。</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="1_10"></a>Q：如何给老师鲜花？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">您可以进入会员中心，在上课记录中给老师鲜花，每个学生每完成一节课就会获得一朵鲜花，可以将献给当月上过课的老师，鲜花是用来作为老师教学质量评定的标准之一，和老师的薪水直接挂钩。</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="1_11"></a>Q：为什么要用菲律宾外教？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">我们的外教是菲律宾的外教，英语是菲律宾的官方语言，外教发音都非常纯正，大部分是地道的美式发音。您可以在网站上听听每位外教的发音音频。菲律宾外教在我们现有会员中很受好评，她们平易近人，非常有耐心，很会引导学生。</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="1_12"></a>Q：为什么有的老师头像带推荐的标志？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">我们会从以下几方面给老师推荐标志：老师教学经验丰富，语音纯正，在培训中表现优异，在ABC Online授课多，受学生喜爱。</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="1_13"></a>Q：我的外教老师上课迟到，早退怎么办？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">我们外教绝大多数都是很专业的，经过严格考核和培训，碰到这样的老师我们也感到很抱歉，您可以直接投诉，当然您觉得老师态度好的也给个好评，给老师些鼓励，这样可以帮助我们提升教学质量。这样可以帮助我们提升教学质量。特别感谢您对我们的信任和监督。</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="1_14"></a>Q：老师怎么缺席了？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">通常情况下老师都会准时给您上课的，如出现特殊情况老师没有来，请第一时间致电4006619888联系客服帮您解决。</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="1_15"></a>Q：选不上课怎么办？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">这种情况是很少见的，我们有充足的外教资源，而且次卡是最多可以提前两周预约的，如果包月可以一次性预约2节课，例如1日可以预约1日和2日的课程。</div>
                        </div>
                    </li>*@
                </ul>
            </div>
            <div class="pro-content hide" style="min-height:528px">
                <ul>
                    @*<li>
                        <p><a name="2_0"></a>Q：ABC Online都有什么样的课程？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">在ABC Online，专业的课程教研团队为学员精心设计了系统化提升、丰富多元，同时又能够满足学员个性化需求的课程。除了系统性地学习适合自己英语水平的“经典英语”主修课程之外，您还可以根据自己的实际需求，选择“商务”、“雅思”、“面试口语”等专业课程。还有选修课，您也可以在网站上看到的一些大家感兴趣的课程，通常咱们学员会按照自己的喜好来上课。比如：综合英语、生活口语、自由会话、旅游英语、英语习语会话、看漫画说英语、学唱英文歌、美剧进行时和热点聚焦(what's up，文化话题英语，时事英语) </div>
                        </div>
                    </li>*@
                    @*<li>
                        <p><a name="2_1"></a>Q：在线学习时使用教材吗？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">您可以直接使用您预约好的某一节课的电子教材，在预约的时候就可以下载使用，也可以进入电子白板预览教材。如果您选择AC为上课方式，您可以直接在AC里阅览教材，如果是QQ或者Skype上课，老师上课的时候也会给您用白板展示这堂课的教材。</div>
                        </div>
                    </li>*@
                    @*<li>
                        <p><a name="2_2"></a>Q：提供免费教材吗？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">是的。ABC Online提供您每次预的课程的电子版教材，可以自助式选择并免费下载电子版。Freetalk课程不使用教材。</div>
                        </div>
                    </li>*@
                    <li>
                        <p><a name="2_3"></a>Q：请问我要学习什么样的教材呢？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">ABC Online的课程设置是个性化的，也就是根据每个学员不同的程度和学习需求量身定做学习计划。循序渐进的教材设置，灵活匹配的教材内容，让学员能最快速的学以致用。</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="2_4"></a>Q：我是否可以做预习和复习呢？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">当然可以的。每次上课学习的教材学员都可以提前下载进行预习。课后，学员也可以通过视频复习的形式进行复习。保证每次上课的学习效果。</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="2_5"></a>Q：免费的公开课每个班多少人？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">公开课是不限制人数的。</div>
                        </div>
                    </li>
                    @*<li>
                        <p><a name="2_6"></a>Q：公开课每个班多少人？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">不限制人数。</div>
                        </div>
                    </li>*@
                    <li>
                        <p><a name="2_7"></a>Q：公开课面向什么样的学员呢？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">公开课目前面向的是所有ABC Online注册的学员，程度包括零基础课程、中教口语、外教文化课。这是给广大学员提供的免费学习的平台，内容涉猎比较广泛，希望更多的学员可以借助ABC Online的平台学习英文。</div>
                        </div>
                    </li>
                    @*<li>
                        <p><a name="2_8"></a>Q：公开课能否提供预习和复习？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">您好，可以提前进入教室预习课程的。</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="2_9"></a>Q：公开课怎么上？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">进入学习社区，选择公开课栏目，点击预约，通过AC上课。</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="2_10"></a>Q：级别证书怎么提交，多久能收到？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">您好，在会员中心点击学习进度，进入级别证书页面，点击弹窗提示填写邮寄信息，一般2周之内可以邮寄出去哦。</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="2_11"></a>Q：教材为什么不能自己打字修改做笔记？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">我们的教材是pdf格式的，不能修改。可以自己记在笔记本或电脑文档里。课后老师也会给您写一个课程档案，记录您上课的重难点及出现的问题，复习的时候可以参考下。</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="2_12"></a>Q：教材有录音吗？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">目前有4本教材在EFL学习系统里可以下载录音：新概念成人版1和2、绿色通道少儿版、体验商务英语和新托福口语。其他教材暂时不提供录音。</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="2_13"></a>Q：什么是EFL？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">主修课经典英语教材课前预习、课后复习、级别测试 。通过阶段性测试(即L3，L6，L9，L12)即可免费邮寄证书。</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="2_14"></a>Q：什么是经典英语，这个课的优势是什么？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">您好，最牛的中外教学术牛人开发，国内唯一专门为线上教学设计的教材。</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="2_15"></a>Q：是否能保证教学效果？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">只要您能在学期内使用完所有课程，我们就能确保您一定能提升口语和听力水平，因为语言学习是双方向的，也需要自身的努力，平均1-2个月可以完成2个级别的提升，上课频率越高，提升1个级别所用的时间就越短。</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="2_16"></a>Q：为什么下载的教材看不了？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">
                                我们的电子版教材都是PDF文件。您下载一个PDF软件，就能打开教材了，如您已下载PDF软件，依然无法打开教材，请按以下步骤操作:第一步：ctrl+F5刷新网页;第二步：更换其他浏览器建议使用谷歌
                                如果以上步骤以后还是不行，致电客服，把您的详细情况告知客服，客服部门会帮助您。
                            </div>
                        </div>
                    </li>
                    <li>
                        <p><a name="2_17"></a>Q：我的上课记录为什么看不到了？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">请您登陆会员中心，在上课记录页面可以看到之前的上课记录。</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="2_18"></a>Q：可以更改某节课的给老师评分吗？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">可以的，在您的会员中心&mdash;上课记录&mdash;老师评价里可以修改7天内的评价。</div>
                        </div>
                    </li>*@
                </ul>
            </div>
            <div class="pro-content hide">
                <ul>
                    <li>
                        <p><a name="3_0"></a>Q：如何预约课程？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">付费学员预约课程需登录网站会员中心进行自助式预约。</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="3_1"></a>Q：预约课程的时候是否有限制？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">上课前需要至少提前十分钟在网站上预约课程，例如15点的课，至少需要在14:50之前进行预约操作。如果您使用的是次卡，可以一次性预约接下来三天内任何开放时间段课程，如果使用的是年卡或月卡，也可以一次性预约接下来三天的课程，但是每天只能约一堂课哦。</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="3_2"></a>Q：已经预约了的课程可以取消吗？要提前多长时间取消？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">已经预约的课程可以取消，但是需要至少提前4个小时取消，少于4个小时就得正常扣课时了，所以建议大家还是按时上课哦。</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="3_3"></a>Q：上课晚到了还可以继续上课吗？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">10分钟以内的晚到仍可以继续上课，外教老师将只给您上该节课剩下的时间。。晚到10分钟以上的，则视为学生缺席，该课程取消并扣除此节课。</div>
                        </div>
                    </li>
                    @*<li>
                        <p><a name="3_4"></a>Q：到了时间没收到老师联系怎么办？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">这种情况很少见。如果发生可能是由于Skype或者QQ软件的原因导致双方无法连接通话，首先请尝试多次呼叫老师或重新登录Skype或QQ。如仍无法联系上老师，请联系客服（4000-51-51-51），我们将尽快帮您处理。</div>
                        </div>
                    </li>*@
                    <li>
                        <p><a name="3_5"></a>Q：如何修改个人信息，比如：英文名、手机号、邮箱等信息？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">登录会员中心下的“账户设置”进行个人信息修改。</div>
                        </div>
                    </li>
                    @*<li>
                        <p><a name="3_6"></a>Q：如何请假及查看历史请假记录？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">登录会员中心下“账户设置”&mdash;&mdash;“我要请假”．自助请假制度仅限包月方案，同时拥有包月和次卡的学员，在选择自助请假时也只对包月课程有效。 自助请假次数等于包月的月数，例如：购买6个月的课程享有6次自助请假机会。每次自助请假最大天数为3天, 学员可以在帐号有效期内任意时间使用，帐号若已到期，则未使用过的请假次数也自动失效。 请假期间将无法上课，也无法提前取消、缩短或往后延长请假，若假期还未开始，可以取消请假，请慎重选择。为了您取得良好的学习效果，建议您尽量少请假或不请假，保持学习的连续性。</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="3_7"></a>Q：是否有课前通知？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">有的。可在“账户设置”&mdash;&mdash;“<a style="color:blue;text-decoration: underline;" target="_blank" href="http://talk.abc.com.cn">提醒设置</a>”中进行开启，此提醒为上课前1小时短信提醒，该短信提醒服务为免费服务，不收取任何费用，由于手机运营商及手机信号等不可控因素影响，有可能出现短信延迟或无法收到短信的情况。若学生缺席出于该提醒短信的原因，缺席课程不予补偿。</div>
                        </div>
                    </li>*@
                    @*<li>
                        <p><a name="3_8"></a>Q：如何查看已添加的生词？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">“会员中心”&mdash;&mdash;“学习进度”&mdash;&mdash;“<a style="color:blue;text-decoration: underline;" target="_blank" href="http://www.ABC Online.com/user/sword">生词表</a>”</div>
                        </div>
                    </li>*@
                    @*<li>
                        <p><a name="3_9"></a>Q：如何收藏老师？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">点击老师头像进入老师的详情页，在此页面的右侧有一个收藏按钮，点击即可。</div>
                        </div>
                    </li>*@
                    @*<li>
                        <p><a name="3_10"></a>Q：如何使用ABC Online-AC上课？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">首先，您需要下载<a style="color:blue;text-decoration: underline;" target="_blank" href="http://www.ABC Online.com/ac/ABC OnlineAC.php">ABC Online-AC客户端</a>；其次，下载后按照提示进行安装即可。最后，登录的账号即是您的网站的用户名和密码，登录成功后等待老师上课即可。</div>
                        </div>
                    </li>*@
                    @*<li>
                        <p><a name="3_11"></a>Q：已经约完课，能否更改课程信息？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">可以的，在您的会员中心，已预约课程页面可以修改课程信息（包括课程和教材、上课方式、发送资料和给老师的留言四项内容可更改）但如果距离上课时间不到1小时就不能更改了。</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="3_12"></a>Q：怎样才能使用电话上课？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">在购买课程的时候，加购电话包，预约课程的时候就可以选择电话上课了。</div>
                        </div>
                    </li>*@
                </ul>
            </div>
            @*<div class="pro-content hide" style="min-height:528px">
                <ul>
                    <li>
                        <p><a name="4_1"></a>Q：我希望一天上多节课，如何购买？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">您可以选择购买次卡，因为次卡可以一次性预约同一天的多节课程，并且可以提前预约未来两周的课程。您也可以同时购买包月和次卡，既可以享受到包月的优惠也能使用次卡一天预约多节课程。</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="4_2"></a>Q：课费该如何支付？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">我们提供在线支付&mdash;网银、信用卡、支付宝、微信支付等。在线支付成功后，您购买的次卡或包月套餐会实时地反映到您的账户上，您可以立即约课您也可以选择银行汇款的方式，根据银行的不同我们需要1-2天时间进行汇款确认。</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="4_3"></a>Q：电话包是什么？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">电话包是您在购买次卡或包月时选购的。电话包主要为方便希望用电话来上课的学员，以及网络情况不好或有时不能上网的学员。</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="4_4"></a>Q：代金券是什么？该怎么用？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">您在会员中心购买课程页面选择使用代金券，即可直接抵减课程费用。</div>
                        </div>
                    </li>
                </ul>
            </div>*@
            <div class="pro-content hide" style="min-height:528px">
                <ul>
                    <li>
                        <p><a name="5_0"></a>Q：如何报名？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">进入会员中心——购买课程——选择心仪的套餐——加入购物车——支付即可。</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="5_1"></a>Q：买完课程就可以马上上课了吗？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">网站购买完课程后，会有您的专属学习管理老师在24小时内与您取得联系。帮您做专业的英语程度测评，并为您规划专属学习计划。学习计划做好后，您就可以正常约课上课了。</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="5_2"></a>Q：报名后如果不能马上开课，是否有效期可以延长呢？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">学员在报名后，有效期即刻开通。如果学员无法在规定的有效期内完成课程，请与您的学习管理老师进行联系，申请办理延期。延长的时间最多不超过实际购买课程有效期的一半。如果仍不能按时完成课程，则课时将在过期后作废。</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="5_3"></a>Q：用什么方式进行网上支付？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">学员可以通过支付宝、微信和银联在线的方式进行支付。</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="5_4"></a>Q：如何开具发票？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">学员只要在报名后联系您的课程顾问老师即可帮您开具发票。</div>
                        </div>
                    </li>
                    @*<li>
                    <p><a name="5_5"></a>Q：电话包是什么？</p>
                    <div class="pro-bom">
                        <div class="lt">A：</div>
                        <div class="rt">电话包是您在购买次卡或包月时选购的。电话包主要为方便希望用电话来上课的学员，以及网络情况不好或有时不能上网的学员。</div>
                    </div>
                </li>*@
                    @*<li>
                    <p><a name="5_6"></a>Q：代金券是什么？该怎么用？</p>
                    <div class="pro-bom">
                        <div class="lt">A：</div>
                        <div class="rt">您在会员中心购买课程页面选择使用代金券，即可直接抵减课程费用。</div>
                    </div>
                </li>*@
                    @*<li>
                    <p><a name="5_7"></a>Q：公司汇款账号是多少？</p>
                    <div class="pro-bom">
                        <div class="lt">A：</div>
                        <div class="rt">账号：110909330010602<br>   开户名：北京大生知行科技有限公司<br>   开户行：招商银行北京海淀支行</div>
                    </div>
                </li>*@
                    @*<li>
                    <p><a name="5_8"></a>Q：可以分期付款吗？</p>
                    <div class="pro-bom">
                        <div class="lt">A：</div>
                        <div class="rt">
                            A:目前网站提供2种形式的分期付款：中国银行及招商银行。<br>
                            中行及招行的费率如下：<br>
                            中国银行:分期期数 3期 6期 12期,备注：分期额度为500-50000元<br>
                            招商银行:分期期数 3期 6期 12期,备注：分期额度为500-50000元<br>
                        </div>
                    </div>
                </li>*@
                </ul>
            </div>
            <div class="pro-content hide">
                <ul>
                    <li>
                        <p><a name="6_0"></a>Q：什么样的学员可以选择中教授课？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">零基础学员和基础比较薄弱的学员是可以选择中教老师上课的。</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="6_1"></a>Q：中教老师的资质怎么样？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">中教老师都是专业八级水平，并拥有多年教学经验的老师。能够快速找到学员基础问题，并有针对性的进行辅导，快速提高学员成绩。</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="6_2"></a>Q：中教老师一对一上课的时间和外教老师是一样的吗？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">如果是成人套餐，每次中教老师上课是1个小时，外教是45分钟；如果是青少年套餐，每次中教老师上课是45分钟，外教是30分钟。</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="6_2"></a>Q：中教老师上课也可以随时预约吗？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">如果要固定中教老师，则上课的时间要跟中教老师来单独预约。中教老师的上班时间是8：30-21：00。</div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="pro-content hide">
                <ul>
                    <li>
                        <p><a name="6_0"></a>Q：登录用户名忘记了怎么办呢？密码忘记了可以找回吗？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">可以哦，登录之后在个人中心——个人设置——修改密码里面进行修改就行。2.登录之后在哪里选课呢？</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="6_1"></a>Q：已经登录了，但是不能选课是怎么回事呢？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">要先看一下自己的次数是不是上完了，如果次数还有看一下是否过期了，如果已经过期了可以联系学管师申请延期，每位学员可以有一次免费延期的机会。</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="6_2"></a>Q：已经下载了启动器，但是好像不能安装是怎么回事呢？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">Windows系统的话，首先需要先看一下您的电脑上是否安装了解压缩工具，如果已经安装了需要先解压再进行安装。如果是Mac系统的话直接下载启动器之后刷新界面就可以进入了。</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="6_2"></a>Q：老师看不到（听不到）我是怎么回事啊？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">首先确保自己的电脑上已经插上耳机（摄像头），并且处于打开状态，同时教室中的麦克风（摄像头）也已经打开，如果这两个都没有问题，可以在教室左下角的音视频设置——麦克风（视频），优选一下设备再试一下。如果还是不行，请尽快与学管师/客服联系。</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="6_2"></a>Q：我看不到（听不到）老师怎么办啊？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">如果听不到老师，到教室左下角的音视频设置——扬声器里，重新选择设备再试一下。如果看不到老师的话，到教室右上角——齿轮设置里，根据自己的宽带优选一下网络。如果还是不行，请尽快与学管师/客服联系。</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="6_2"></a>Q：上课的时候看不到PPT怎么办呢？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">需要下载Adobe Flash Player for IE，安装完刷新页面重新登录进入即可。</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="6_2"></a>Q：网络好像有问题，听老师说话断断续续的。</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">到教室右上角——齿轮设置里，根据自己的宽带优选一下网络即可解决。</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="6_2"></a>Q：黑板是黑色的，静止不动了怎么办呢？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">到教室右上角——齿轮设置里，根据自己的宽带优选一下网络即可解决。</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="6_2"></a>Q：我的手机号换了怎么办呢？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">您可以在个人中心——个人设置——修改手机里面进行修改，但是这个只是更改了联系电话，用户名还是原来的注册手机号哦。</div>
                        </div>
                    </li>
                </ul>
            </div>
            @*<div class="pro-content hide">
                <ul>
                    <li>
                        <p><a name="7_0"></a>Q：4G的网络，可以手机上课吗？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">可以使用,您只需下载手机客户端即可。</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="7_1"></a>Q：ABC Online AC都有哪些特点？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">
                                自主研发电脑上课软件&mdash;ABC Online AC(全称：ABC Online AirClass)，致力于为学员提供最好的上课体验。<br>

                                一、模拟真实教室场景<br>
                                实时语音视频，如同与老师面对面交流<br>
                                功能全面的电子白板，帮助老师更好的与学员进行互动教学<br>

                                二、支持课程录音<br>
                                可对上课全程录音，方便课后随时复习<br>
                                三、强大的翻译功能<br>
                                便捷的翻译工具支持查单词、句子翻译、段落翻译等多种使用方式，沟通学习无障碍<br>
                            </div>
                        </div>
                    </li>
                    <li>
                        <p><a name="7_2"></a>Q：AC都可以上哪些课？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">
                                1.免费公开课:一键预约公开课不限时、不限预约次数,随时预约、随时学习.实时互动，与小伙伴们一起讨论学习。<br>
                                2.一对一私人外教课,上课方式选择AC后，将自动关联已约课程,课程同步，随时下载,支持录音，自由设置,支持保存聊天记录，课后可在会员中心查看。<br>
                                3.小班课:欧美小班课、精品小班课全新试听体验,每堂课仅限6人，保证学习效果随时预约，随时学习,实时互动，开口锻炼。<br>
                            </div>
                        </div>
                    </li>
                    <li>
                        <p><a name="7_3"></a>Q：AC翻译功能怎么使用？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">AC有3种翻译方式：<br>   1.翻译工具条 在AC聊天工具内，打开后直接输入要翻译的中文或英文即可。<br>    2.划词翻译 在聊天区域，鼠标选中需要翻译翻译的内容，等待一会就会出现翻译结果。<br>    3.气泡翻译 AC聊天区域对方发送的聊天内容都会有一个翻译按钮，直接点击按钮，全部聊天内容都可以一次翻译。</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="7_4"></a>Q：AC看不到老师？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">
                                1.先给老师发文字消息，看是否能收到，确认是否和老师已经连接上了以及老师是否在教室里。<br>
                                2.看老师麦克风是否在震动，如果在震动，您可以调节一下耳机的音量。<br>
                                3.看不见老师的视频。可以先确定老师是否有摄像头。<br>
                                如果上述还是找不到问题，请您第一时间致电4006619888让客服帮您解决<br>
                            </div>
                        </div>
                    </li>
                    <li>
                        <p><a name="7_5"></a>Q：AC可以视频吗？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">1对1和小班课老师和学生可以连通视频，公开课及助教课等多人课程暂时没有视频。</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="7_6"></a>Q：AC上课，网络断断续续怎么办，其他的没问题？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">建议尽量使用2M以上带宽的无线网络环境下上课，保证网络稳定；在上课过程中最好关闭其他应用，降低对电脑资源的占用。</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="7_7"></a>Q：AC无法看到教材？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">首先需要判断是否因为网络原因，导致下载教材失败，如果是可以点击重试按钮重试。<br>   如果仍然看不到请您第一时间致电4006619888让客服帮您解决</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="7_8"></a>Q：AC怎么录音，录音在哪里能找到？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">在AC教室界面的左下角可以看到录音按钮，点击此按钮开始录音，再次点击结束录音。结束录音后会生成录音文件，保存到本地文件夹，默认存储路径为C:\Users\Administrator\AppData\Roaming\ABC Online\private。存储位置可自己重新设置。</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="7_9"></a>Q：APP都有哪些功能？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">1，注册会员， 扫描二维码或app store 中搜索ABC Online无忧英语下载即可，点击任意键登录。<br>   2.登录之后可以预约课程、修改上课信息、取消课程、上一对一及公开课。</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="7_10"></a>Q：APP约课怎么更改默认的上课方式？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">在首页“课程”，点击某一课程进入课程管理-修改上课方式。</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="7_11"></a>Q：iPad可以用APP吗？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">推荐iPad直接安装iPhone版的“ABC Online”应用。</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="7_12"></a>Q：如何用手机客户端约课上课？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">
                                1&gt; 输入您注册的邮箱和密码进入会员中心。<br>
                                2&gt; 返回进入首页“预约课程”页面，选择适合自己的老师、上课时间、课程和教材。注：新注册的学员约课程前需要填写您的Skype或QQ账号、英语学习目的和当前英语水平。<br>
                                3&gt; 预约成功后你即可下载教材，并收到预约成功的邮件。你可以当前页面设置课程提醒（课程开始前60分钟通过手机提醒），或继续预约课程。<br>
                            </div>
                        </div>
                    </li>
                    <li>
                        <p><a name="7_13"></a>Q：手机端和电脑端可以同时登陆吗？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">可以同时登录，但不能同时进入上课教室。会将另一方踢出教室。</div>
                        </div>
                    </li>
                    <li>
                        <p><a name="7_14"></a>Q：一个手机号多个账户导致无法登陆怎么办？</p>
                        <div class="pro-bom">
                            <div class="lt">A：</div>
                            <div class="rt">您可以给每个账户设置不一样的邮箱，改用注册的邮箱作为用户名进行登录，如仍然无法登陆，请您第一时间致电4006619888让客服帮您解决。</div>
                        </div>
                    </li>
                </ul>
            </div>*@
        </div>
    </div>
</div>
<script src="/js/jquery-1.8.3.min.js"></script>
<script type="text/javascript">
    $().ready(function () {
        //$(".pro-nav li").eq(0).click();
        //$("ContentFrame", window.parent.document).height("970px");
        //debugger;
    })

    $(".pro-nav li").click(function () {
        var that = this, objindex = $(that).attr("data-index"), tagindex = parseInt(objindex);
        $(that).addClass("on").siblings().removeClass("on");
        var targetdiv = $("#proContent").find(".pro-content").eq(tagindex);
        $(targetdiv).removeClass("hide").siblings().addClass("hide");
       
        //$(".myanswer", window.parent.document).height($(".g-mnc").height());
    });
</script>
