<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="~/assets/css/common.css" rel="stylesheet" />
    <title>ABC在线英语</title>
    <style>
        .btn:hover {
            background-color: #2895e8;
        }

        .btn {
            background-color: #0875c8;
        }
    </style>
</head>
<body>
    <div class="banner_one"></div>
    @Html.Partial("UserCenterNav", 3)

    <div class="section">
        <div class="ad">
            <div class="orderform container">
                <div class="page-title">
                    <h1>MY Orders</h1>
                    <div class="divider"></div>
                    <ul class="tab">
                        <li data="0">全部</li>
                        <li data="1">未支付</li>
                        <li data="2">已完成</li>
                    </ul>
                </div>
                <div>
                    <table style="width: 100%;" class="course_yueke extb">
                        <colgroup>
                            <col width="20%" />
                            <col width="15%" />
                            <col width="20%" />
                            <col width="10%" />
                            <col width="10%" />
                            <col width="10%" />
                            <col width="15%" />
                        </colgroup>
                        <thead>
                            <tr class="odd add">
                                <th>课程卡名称</th>
                                <th>课程卡类型</th>
                                <th>分配课程</th>
                                <th>价格</th>
                                <th>数量</th>
                                <th>订单金额</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                    </table>
                    <div class="order-list">
                    </div>
                    <div style="width: 100%; height: 60px;">
                        <div class="page"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-2.2.4.min.js"></script>
    <script src="~/Scripts/abc/base.es5.min.js"></script>
    <script src="~/Scripts/jquery.cookie.js"></script>
    <script src="~/Scripts/layer/layer.js"></script>
    <script src="~/Scripts/abc/common.es5.min.js"></script>
    <script src="~/Scripts/abc/orders.es5.js"></script>
</body>
</html>